[2021-06-23 12:53] krupalikevadiya opened #19 "Getting error while image compression."
Please check below attached screenshot for more details and also i added my code.

 Image.compress(path, {
          maxWidth:width,
          maxHeight:.height,
          input: 'uri',
          output: 'jpg',
          quality: 0.5,
          returnableOutputType: 'uri',
        })
          .then(async (compressedFileUri) => {
            console.log('===========image compressed=============' +

[2021-06-23 13:16] nomi9995 commented on #19
@krupalikevadiya did you install `react-native-fs` ?

[2021-06-24 04:16] krupalikevadiya commented on #19
No there is no any description to add react-native-fs in Readme. Anyway let me check by adding it.

[2021-06-24 05:53] nomi9995 commented on #19
@krupalikevadiya this package is in progress. I will add a description or remove fs in the future.

[2021-06-28 12:40] nomi9995 commented on #19
@krupalikevadiya fixed in `0.5.1`

[2021-06-28 12:40] #19 closed

[2021-07-06 07:23] krupalikevadiya commented on #19
Okk it is worked for image compression but does not for video compression.It gives same size of video after compression.

[2021-07-06 07:46] nomi9995 commented on #19
@krupalikevadiya with `compressionMethod: 'auto'` you can achieve compression-like **Whatsapp** and **Whatsapp** cannot compress video have less than equal to 16MB. i will add this description in the readme so users know why we are not compressing below 16MB video in auto mode

if you wanna compress video which is below `16MB` then you can use `compressionMethod:'manual'` prop

[2021-07-06 08:32] krupalikevadiya commented on #19
Yes i used this props but did not get compressed video. Here is my code.
  const result = await Video.compress(
      path,
      {
        compressionMethod:'manual',
        bitrate:10,
      },
      (progress) => {

      }
    );

Also here result is origional video url not compressed one.

[2021-07-06 08:39] nomi9995 commented on #19
can you upload video and share link here so i can test it on my side

[2021-07-06 08:49] krupalikevadiya commented on #19
link is : https://testing.youchampapp.com/upload/aws/files/redirect/vVzlmU.1625561223284.camera.MP4

[2021-07-06 08:51] krupalikevadiya commented on #19
Link : https://drive.google.com/file/d/1VETAcKtngebymwXxQyYuZcaxVOzGGJ0V/view?usp=sharing

[2021-07-06 09:58] krupalikevadiya commented on #19
@nomi9995 any update on it?

[2021-07-06 10:46] nomi9995 commented on #19
@krupalikevadiya I will check it when I am at the home. I will let you know after 5 hour

[2021-07-06 10:49] krupalikevadiya commented on #19
okay thanks for quick reply.

[2021-07-06 15:49] nomi9995 commented on #19
@krupalikevadiya we are using [NextLevelSessionExporter](https://github.com/Shobbak/react-native-compressor/blob/dd5c106522461005acd89d6f679c0ef2f96fdd74/ios/Video/VideoCompressor.swift#L4) pod  for compression videos on ios. but on this video, it is giving an exception, therefore, I am returning the same URI. I have created issue on
https://github.com/NextLevel/NextLevelSessionExporter/issues/37

[2021-07-06 15:49] nomi9995 commented on #19
@krupalikevadiya we are using [NextLevelSessionExporter](https://github.com/Shobbak/react-native-compressor/blob/dd5c106522461005acd89d6f679c0ef2f96fdd74/ios/Video/VideoCompressor.swift#L4) pod  for compression videos on ios. but on this video, it is giving an exception, therefore, I am returning the same URI. I have created issue on
https://github.com/NextLevel/NextLevelSessionExporter/issues/37

[2021-07-07 04:29] krupalikevadiya commented on #19
okk thanks and let me know once it is resolved...same thing happen in android to.

[2021-07-07 05:18] nomi9995 commented on #19
@krupalikevadiya sure. can you send me a reproducible example for android?

[2021-07-07 07:01] krupalikevadiya commented on #19
ImagePicker.openPicker({
      multiple: false,
      mediaType: "video",
      cropping: false
    }).then(images => {
      console.log('===========image browsed=============' + JSON.stringify(images, null, 2))

      this.compress_video(images.path,images.width)
      })

      async compress_video(path, width) {
    const result = await Video.compress(
      path,
      {
        compressionMe

[2021-07-07 07:20] nomi9995 commented on #19
@krupalikevadiya can you try `compressionMethod: 'auto'` or remove `bitrate:10`?

[2021-07-07 10:06] krupalikevadiya commented on #19
Hey @nomi9995 it is worked with compressionMethod: 'auto' in android but does not work with compressionMethod: 'manual'

[2021-07-07 10:07] nomi9995 commented on #19
@krupalikevadiya I think we cannot set bitrate:16. can you try with bitrate 450000

[2021-07-07 10:11] krupalikevadiya commented on #19
Getting same error of asynctask with following options i tried both bitrate:16 and bitrate:450000.
{
        compressionMethod: 'manual',
        bitrate:16
      },

[2021-07-07 17:19] nomi9995 commented on #19
@krupalikevadiya  can you add video link here?

[2021-07-08 04:11] krupalikevadiya commented on #19
With same video which i use in ios.

[2021-07-08 11:44] krupalikevadiya commented on #19
@nomi9995 any update on it? ..i need this package to compress video.

[2021-07-27 13:23] kuldeepworkid opened #23 "App crashes automatically after selecting video"
**The crash is happening when we select compressionMethod: 'manual'**
await Video.compress(
        imgData.path,
        {
          compressionMethod: 'manual',
          maxSize: imgData.height,
          bitrate: 450000,
        },
        progress => {
          console.log('prog===>', progress);
        },
      );
java.lang.RuntimeException: An error occurred while executing doInBackground(

[2021-07-29 05:15] nomi9995 commented on #23
@kuldeepworkid can you send me a video so I can reproduce it on my side

[2021-07-29 05:54] kuldeepworkid commented on #23
https://drive.google.com/file/d/1jw5XqDf9pMWJrSMwwTWrR-Bbx1tafFxl/view?usp=sharing

[2021-08-10 14:12] kerm1it opened #24 "IOS 14 compressed url is not exist"
After compressing photo, the result url is not exist.

This is log:

WARN  Could not find image file://private/var/mobile/Containers/Data/Application/9AD81D94-BF91-4398-BC1D-280B5C864A9B/tmp/98F1A7FE-F2AA-41E7-859B-86AFE1D6E392.jpg

[2021-08-10 14:44] nomi9995 commented on #24
@kerm1it can you send the me image which you are compression

[2021-08-17 13:28] kerm1it commented on #24
It is my error.

[2021-08-17 13:28] #24 closed

[2021-08-17 13:32] kerm1it opened #25 "[Android] Throw error while compressing image"
When compressing image with path follow: `content://media/external/images/media/78550`

It throw a error:  `[Error: Attempt to invoke virtual method 'int android.graphics.Bitmap.getWidth()' on a null object reference]`

It look like `content://media/external/images/media/78550` is not identified.

[2021-08-17 13:42] nomi9995 commented on #25
@kerm1it we need the absolute path, if you wanna fix this issue then you can do like this for android

[code]

then you can send deskPath for compression

ref: https://github.com/itinance/react-native-fs/pull/395

[2021-08-17 14:12] kerm1it commented on #25
Thanks.

[2021-08-17 14:12] #25 closed

[2021-08-19 09:03] aamez opened #26 "Video not compressing below 10 mb"
Hi, first of all I appreciate your effort for making this package. Gone through your excel for video compress, can you do the compression for video below 10 mb? or else can you refer some other package for the same?

[2021-08-19 10:21] nomi9995 commented on #26
@aamez you can remove this condition for **android**
https://github.com/Shobbak/react-native-compressor/blob/dd5c106522461005acd89d6f679c0ef2f96fdd74/android/src/main/java/com/reactnativecompressor/Video/AutoVideoCompression/AutoVideoCompression.java#L38

and remove this condition for **IOS** to compress video which size is 16MB
https://github.com/Shobbak/react-native-compressor/blob/dd5c106522461

[2021-08-19 11:48] aamez commented on #26
Great man it worked, thanks :)

[2021-08-19 20:24] nomi9995 commented on #26
@aamez i will add prop for this

[2021-08-19 20:46] aamez commented on #26
sure thanks... :)

[2021-08-19 20:47] aamez commented on #26
sure thanks @nomi9995 :)

[2021-08-23 16:50] rnqayush opened #27 "unable to find compressed image file location on my android emulator."
1-i went through the installation process and successfully installed the package and compressed my image.
2-After compression i am getting the response uri :  file:///data/user/0/com.mob.innerdots/cache/b45c035e-155e-4b05-8c1e-908cd338fad3.jpg

my issue:
i am not able to get to this uri location in my android emulator. i want to check the properties of compressed image and export it to other file

[2021-08-24 05:13] nomi9995 commented on #27
@rnqayush you can use `Device File Explorer` from android studio to export that file from the android emulator. you will find these compressed files in the tmp folder
![image](https://user-images.githubusercontent.com/36044436/130559390-cf800395-296a-4f24-b00d-a5ae7462b899.png)

[2021-09-01 19:15] elbouhalimohsin opened #28 "[Unhandled promise rejection: TypeError: null is not an object (evaluating 'NativeVideoCompressor.compress')]"
Hi,
I thank you very much for this library, I tried to use it on an mp4 file after a cam record, but I got this message in the title:
[Unhandled promise rejection: TypeError: null is not an object (evaluating 'NativeVideoCompressor.compress')]

  **my function component**
  const takeVideo = async () => {

    if(camera){
        const data = await camera.recordAsync({
            quality : Camera

[2021-09-02 10:59] elbouhalimohsin commented on #28
In this component I try to compress the resutant file of a camera recording

Here is the code of the component, thanks

import React, { useState, useEffect } from 'react';
import { Text, View, TouchableOpacity, SafeAreaView,Button } from 'react-native';
import { Camera } from 'expo-camera';
import axios from 'axios';
import { Video } from 'react-native-compressor';

export default  function Record

[2021-09-02 11:38] nomi9995 commented on #28
@elbouhalimohsin if you make a git repo for reproducible example that would be great because from copy-paste from here is hard to make reproducible example then fix it

[2021-09-02 14:27] elbouhalimohsin commented on #28
Hi,
Here is my git :
https://github.com/elbouhalimohsin/compress

thank you.

[2021-09-03 05:24] nomi9995 commented on #28
@elbouhalimohsin are you testing with expo?

[2021-09-03 05:57] elbouhalimohsin commented on #28
yes "expo": "~42.0.1"

[2021-09-03 11:14] nomi9995 commented on #28
@elbouhalimohsin we dont support expo. you can test it on `react-native core`

[2021-09-03 12:12] elbouhalimohsin commented on #28
Ok bro ;)  thank you for All

[2021-09-03 12:13] #28 closed

[2021-09-09 07:38] rnqayush opened #29 "unsupported swift version issue is appearing while building on ios."
I have used this library for image and video compression it is working on android but i am facing issues with building on ios.
Sharing screenshots of the errors of ios . Kindly suggest some idea to resolve it.
<img width="295" alt="Screenshot 2021-09-08 at 4 55 59 PM (1)" src="https://user-images.githubusercontent.com/74084740/132643265-644dffb0-9902-421c-8e23-09086d5cc0a0.png">
<img width="512" a

[2021-09-09 07:43] nomi9995 commented on #29
try this
1. Select project
2. Select Build SettingTab
3. Select Swift Compiler language Option

[![enter image description here][1]][1]

  [1]: https://i.stack.imgur.com/zGV9Q.png

[2021-09-10 00:13] mobilewd opened #30 "Could not find or use auto-linked library 'swiftCoreMIDI' when running iOS"
I use react-native-compressor 0.5.2 for compression video, I got issues when trying to run on iOS.
anyone can solve this?

![image](https://user-images.githubusercontent.com/83465439/132778123-4d683581-a0f8-48b3-b257-bea3077f2443.png)

[2021-09-15 06:35] rnqayush opened #31 "error in compressing video in react native v0.65.1"
1-earlier i was using react native 0.61.5 and used this library for video and image compression. it was working as expected.
2- I have upgraded react native version to 0.65.1 and now image compression is working as expected but in video compression i am having errors.
3- i am sharing the screenshot of my code and error kindly suggest some idea to resolve it.
![toshob3](https://user-images.githubus

[2021-09-15 07:07] nomi9995 commented on #31
@rnqayush I think this error is not from the compressor package.
i think it is from https://github.com/uuidjs/uuid#getrandomvalues-not-supported

can you provide reproducible example repo? so I can see it

[2021-09-15 08:05] rnqayush commented on #31
@nomi9995  thanks for you response, actually i have tested this after removing this video compressor code then it works fine but after implementing this code i get this error.

[2021-09-17 06:41] rnqayush commented on #31
@nomi9995 i made a fresh react native project and then installed this package. unfortunately i am getting error kindly look on it and suggest some idea to resolve it.  also i am sharing the github repo.
GitHub: https://github.com/rnqayush/react-native-video-compressor

snapshot of error:
![toshob2](https://user-images.githubusercontent.com/74084740/133736546-6b73877c-1b1b-4d46-87b4-6913cc813b6a.PN

[2021-09-17 06:46] nomi9995 commented on #31
@rnqayush Actually this is due to jcenter, many libraries which were published on jcenter having this issue. we should have to publish all libraries to mavenCenter. I will create a ticket on `mavenCenter` so our library may not be down
https://developer.android.com/studio/build/jcenter-migration
![image](https://user-images.githubusercontent.com/36044436/133736869-8d54e256-5368-4cbe-8551-ba1b1c48a

[2021-09-17 06:50] rnqayush commented on #31
@nomi9995 thanks a lot for your response, kindly let us know when it is expected to be updated.

[2021-09-17 06:53] nomi9995 commented on #31
@rnqayush actually I did not publish the library on mavenCenter before. I am going to make ticket on mavenCenter anthen d that the community will review the ticket and then will publish or reject it. it depends on the community review.

[2021-09-17 06:54] rnqayush commented on #31
@nomi9995 sure thankyou .

[2021-09-17 06:55] rnqayush commented on #31
also @nomi9995 do it will work on ios or there too it can have issues.

[2021-09-17 07:01] nomi9995 commented on #31
@rnqayush it is specifically for android

[2021-09-17 10:18] nomi9995 commented on #31
@rnqayush can you try `0.5.3-rc.0` version

[2021-09-21 12:25] krupalikevadiya opened #33 "Unable to compress Png file in both android and ios."

[2021-09-21 12:56] krupalikevadiya commented on #33
Hey @nomi9995 thanks for reply.There is no any error log in console while compress image but image size is larger than original image size.Like my original image size is 13.12 kb and after applying image compression it will be 43 kb.

[2021-09-21 13:00] nomi9995 commented on #33
@krupalikevadiya can you try some bigger image like 1 to 5 mb

[2021-09-21 13:02] krupalikevadiya commented on #33
No i just check it for small images like kb.But let you know result for large images after test.

[2021-09-21 13:15] nomi9995 commented on #33
@krupalikevadiya you should check this package on minimum 50kb image

[2021-09-22 09:40] krupalikevadiya commented on #33
Hey @nomi9995 what i have to do to compress images which have size lower 50kb?

[2021-09-22 10:15] nomi9995 commented on #33
@krupalikevadiya you have to play with these three options
![image](https://user-images.githubusercontent.com/36044436/134325985-9357f4b9-2a50-4d62-aa1b-e1bbcffa3b41.png)

[2021-09-22 10:19] krupalikevadiya commented on #33
Yes i used this all three options and use same height and width of original image with 0.5 quality but png image become double in size after compression.

[2021-09-28 09:38] ymane commented on #31
I am also facing same issue with "react-native-compressor": 0.5.3 and react-native: 0.64.2
`[Error: crypto.getRandomValues() not supported. See https://github.com/uuidjs/uuid#getrandomvalues-not-supported]`

[2021-09-28 10:14] krupalikevadiya commented on #33
Hey @nomi9995 did you have any another suggestion for png image compression?

[2021-09-28 11:07] nomi9995 commented on #33
@krupalikevadiya you can add native code for less than 50kb image. I will welcome your PR

[2021-09-28 11:08] nomi9995 commented on #31
@ymane can you provide reproducible example in git repo because it is not reproducing on my side

[2021-10-12 10:08] VasuK1695 opened #34 "this package itself specifies a `main` module field that could not be resolved"
While trying video compress example it throws this error and my app crashes

[2021-10-12 10:28] #34 closed, assigned to nobody

[2021-10-12 10:36] VasuK1695 opened #35 "Cannot read property 'compress' of undefined"
const result = await Video.compress(
              res.uri, // video uri
              {
                compressionMethod: 'auto',
              },
              (progress) => {
                if (backgroundMode) {
                  console.log('Compression Progress: ', progress);
                } else {
                  setCompressingProgress(progress);
                }
              }

[2021-10-21 16:53] subinsuresh opened #36 "Error while compressing video from android image picker"
I am getting error while calling Video.compress() method.

  const result = await Video.compress(
     path,
        {
          compressionMethod: 'auto',
        },
        (progress) => {
           console.log('Compression Progress: ', progress);
     }
  );

I have tried to pass uri and fileName to the compress method, which I am getting from react native image picker response(Video selected

[2021-10-25 12:29] thekundankamal opened #37 "Could not find com.zolad:videoslimmer:1.0.0"
I am getting this in android ?

[2021-10-26 17:06] subinsuresh opened #38 "Can't upload compressed video to the server"
I am getting compressed video file path as "file://data/user/0/com.ikonikgolf.ikonik/cache/88a6b03a-23c2-4810-9158-15be29c99105.mp4",
When I tried to upload this file as a multipart form. I am getting No network error.

I can upload the original video file with URI : content://com.miui.gallery.open/raw/%2Fstorage%2Femulated%2F0%2FDCIM%2FCamera%2FVID_20210904_102656.mp4

Error: Network Error
    at

[2021-10-27 07:44] rahulll187 opened #39 "VideoCompressEventEmitter.removeSubscription is not a function while compress a video file"
Hello,

Im getting this error while compress video in auto compression mode.
here is my code, where

url = 'file:///data/user/0/com.qlandemo/cache/c850b3e6-6e20-49d2-a844-6102dd7243e8.mp4'

note - it's going in catch part every time & give me the error - VideoCompressEventEmitter.removeSubscription is not a function

can anyone help me to resolve it?

Thanks in advance.

[code]

[2021-10-27 23:12] mobilewd opened #40 "Crash when compress video select from galery [iOS]"
When I am trying to compress video from the gallery the app crash suddenly. but when I record video from the camera it's working well.
this happens only on iOS

dataUri pick from gallery:
file:///private/var/mobile/Containers/Data/Application/F2A6A75C-B834-427A-A565-EAD9E47DBE21/tmp/react-native-image-crop-picker/8C70B1F1-D253-42D0-B6F6-E236B283E475.mp4

dataUri take from camera:
file:///var/mobil

[2021-10-30 11:31] srivastavaanurag79 commented on #37
can you fix it i am not able to do the changes

[2021-10-30 11:34] Harshit31 commented on #37
@nomi9995 I'm also facing the same issue. Not very well versed with Andriod Development. Any help is appreciated.

[2021-10-31 15:16] nomi9995 commented on #37
@srivastavaanurag79 @Harshit31 @thekundankamal can you try `0.5.6-alpha.0` this version
[code]
i hope this version will not have any issue

[2021-10-31 15:21] srivastavaanurag79 commented on #37
Have you tested it? I tried to do the same thing in my project, changing in node_modules, it didn't worked. But I will try this new release.

[2021-10-31 15:29] nomi9995 commented on #37
@srivastavaanurag79 yes, I tested. on my side older versions are also working. can you try after clear cache
![image](https://user-images.githubusercontent.com/36044436/139590764-d8c0eb61-cebf-4d4f-b044-072852f651a8.png)

[2021-10-31 16:33] nomi9995 commented on #39
@rahulll187 can you tell me your `react-native` version?

[2021-11-01 02:51] rahulll187 commented on #39
@nomi9995 , my react-native version is `0.66.1`

[2021-11-01 03:48] thekundankamal commented on #37
Yes, Its working for me on the given below version..

**npm**
yarn add react-native-compressor@0.5.6-alpha.0

But we can minimise the time of compression its taking more time as compared to whatsp.

[2021-11-01 05:08] nomi9995 commented on #37
@thekundankamal sure i will work on it after some week

[2021-11-01 05:13] nomi9995 commented on #37
@srivastavaanurag79 can you verify this?

[2021-11-01 05:14] srivastavaanurag79 commented on #37
I have installed the library, it build correctly this time. Thanks

[2021-11-01 05:31] srivastavaanurag79 commented on #37
compressed a 4mb photo to 137.5kb, noice packag
![IMG_20211101_110007](https://user-images.githubusercontent.com/24560090/139625912-9f3e766b-897e-436d-985f-4b57aa6ff9bd.jpg)
e

![image](https://user-images.githubusercontent.com/24560090/139625919-47274063-ae6b-4d8a-b5e4-4550a60cf975.png)

[2021-11-01 08:26] nomi9995 commented on #37
@srivastavaanurag79 thanks. I am going to release the correct version `0.5.6` so everyone run build without this error

[2021-11-01 08:29] #37 closed

[2021-11-01 10:00] nomi9995 commented on #39
@rahulll187 I am also using the `0.66.1` version but I am not getting this issue. can you provide a reproducible example?

[2021-11-01 18:24] nomi9995 commented on #39
@rahulll187 I just release `1.0.0` can you try the `1.0.0` version
[code]

[2021-11-01 18:26] nomi9995 commented on #31
@rnqayush @ymane I just release `1.0.0` can you try the `1.0.0` version
[code]

[2021-11-08 06:59] moowoonsunghoon commented on #31
i have same issue

[2021-11-08 07:14] nomi9995 commented on #31
@moowoonsunghoon can you tell me your RN version and compressor version?

[2021-11-08 07:15] nomi9995 commented on #40
@HemendraKhatik can you send me the video which is giving this error?

[2021-11-08 07:17] moowoonsunghoon commented on #31
@nomi9995
my version is
`react-native: 0.64.1`
`react-native-compressor: 1.0.1`

[2021-11-08 07:25] nomi9995 commented on #31
@moowoonsunghoon sorry for that. react-native-compressor>=1.0.0 is for `react-native@0.65`

you can use `0.5.6` version for the compressor
[code]
after this please do `Invalidate Caches / Restart` from android studio
![image](https://user-images.githubusercontent.com/36044436/140700293-46e5c737-4fc6-401e-a423-7dfe1aa53dc6.png)

[2021-11-08 07:26] nomi9995 commented on #31
@moowoonsunghoon i will update documentation soon

[2021-11-08 07:32] moowoonsunghoon commented on #31
@nomi9995
it's working!! thank you!!

[2021-11-08 07:35] #31 closed

[2021-11-12 08:14] prabhakardude opened #41 "Video compression not working"
Image Compression is working fine but video compression is returning error null. I tried different size videos but every videos is giving nulll error

[2021-11-12 08:45] nomi9995 commented on #41
@prabhakardude can you mention your react native and compression version here?

[2021-11-12 09:16] prabhakardude commented on #41
@nomi9995  I am using RN 0.64.1 and latest version of this package

[2021-11-12 09:20] nomi9995 commented on #41
@prabhakardude according to docs, you should install `0.5.6` version of the compressor

[code]

![image](https://user-images.githubusercontent.com/36044436/141442613-75451d40-7533-4208-8852-18f99c561bc0.png)

https://github.com/Shobbak/react-native-compressor#for-react-native-064-or-lower

[2021-11-12 11:30] prabhakardude commented on #41
@nomi9995 I tried with 0.5.6 version as well but still the error remains

[2021-11-15 09:38] DavidGonzalezGutierrez commented on #31
Hello!
Same issue on iOS.
React Native version: 0.66.2
React Native Compressor: 1.0.2

[2021-11-15 10:16] nomi9995 commented on #31
@DavidGonzalezGutierrez can you try this `Invalidate Caches / Restart` from android studio ![image](https://user-images.githubusercontent.com/36044436/140700293-46e5c737-4fc6-401e-a423-7dfe1aa53dc6.png)

[2021-11-15 10:25] DavidGonzalezGutierrez commented on #31
When I use UUID version 4 in my app, I always use with __DEV__ because I read the uuidv4 has problems in development mode

[2021-11-15 10:37] nomi9995 commented on #31
can you try this solution https://github.com/uuidjs/uuid/issues/416#issuecomment-651294527

[2021-11-15 11:04] DavidGonzalezGutierrez commented on #31
Yes, It works!

[2021-11-15 11:59] nomi9995 commented on #31
@DavidGonzalezGutierrez I also have published a new version `1.0.3` of the compressor where I added above fix

[2021-11-15 12:39] DavidGonzalezGutierrez commented on #31
Nice work!

[2021-11-16 01:41] GrandPoohBear opened #42 "index.d.ts for videoCompressorType is missing maxSize field in 1.0.3"
I'm adding the `maxSize` parameter to the options field for `Video.compress`, but looking at the Typescript declarations for that type in the 1.0.3 release on npm, `maxSize` is missing:

[code]

Possible the declarations are stale from the last release?

[2021-11-16 02:51] xb1001 opened #43 "Does it support RN 0.59?"
When I use version@0.5.6,  it prompt me that an error occurred
![image](https://user-images.githubusercontent.com/32784725/141887083-723f48c8-55fe-4e6e-90e9-69d9590762da.png)

[2021-11-16 06:15] nomi9995 commented on #43
@xb1001 can you share your `build.gradle` file here, I wanna see version

[2021-11-16 06:18] nomi9995 commented on #42
@GrandPoohBear you are right, I forgot to add this. I will add this typo in the next release. thanks for indication

[2021-11-16 06:22] nomi9995 commented on #42
@GrandPoohBear i have added https://github.com/Shobbak/react-native-compressor/commit/6f6192856a0a06b0dd3c44a19a6fece79b4ce41c will be added in next release

[2021-11-16 09:21] xb1001 commented on #43
![image](https://user-images.githubusercontent.com/32784725/141957740-fdc26911-df90-4a27-9409-9bedb9e590c9.png)

Is this?

[2021-11-16 09:22] xb1001 commented on #43
![image](https://user-images.githubusercontent.com/32784725/141957942-982d7ee3-5d09-4998-8d58-6744b19d8220.png)
is this?

[2021-11-16 10:34] PrabhakarKotipalli commented on #41
`const UploadVideo = () => {

        launchImageLibrary({ mediaType: 'video' },async (response) => {
            console.log(response)
            if(response.didCancel)
            {

            }
            else
            {
              const result = await Video.compress(response.uri, {
                 compressionMethod: 'auto',
               },

              (progress) => {

[2021-11-16 11:27] nomi9995 commented on #43
@xb1001 this file is looking good. can you add a reproducible example through the GitHub repo

[2021-11-16 13:24] nomi9995 commented on #41
@PrabhakarKotipalli It is looking good. it is working well on my side. can you add reproducible example by upload repro code on new repo

[2021-11-16 16:42] GrandPoohBear commented on #42
Excellent, thanks so much!

[2021-11-16 17:07] natex-mobile-viraj opened #44 "Error: Native module not found"
I have an issue with Video Compressor.
[code]
Result - Error: Native module not found

[2021-11-17 00:56] xb1001 commented on #43
I notice that the project use 'androidx.annotation.RequireApi'，my project  do not support androidx, do I have other solutions for use it?

[2021-11-17 02:21] moowoonsunghoon commented on #38
@nomi9995
I have a same issue! how to check vedio file exists?

[2021-11-17 02:39] moowoonsunghoon commented on #38
i fixed it!! After compression, path need to change from `file://` to `file:///`!

[2021-11-17 06:02] nomi9995 commented on #38
@moowoonsunghoon @subinsuresh now you can also use the background Upload function from the compressor package. it also support binary and multipart requests

https://github.com/Shobbak/react-native-compressor#background-upload

![image](https://user-images.githubusercontent.com/36044436/142143523-bf247dbe-658f-46ff-a921-fe4bb4c09254.png)

[2021-11-17 06:05] nomi9995 commented on #43
@xb1001 I think, you should add android X support in your project
https://developer.android.com/jetpack/androidx/migrate
https://medium.com/androiddevelopers/migrating-to-androidx-tip-tricks-and-guidance-88d5de238876

[2021-11-17 07:30] xb1001 commented on #43
@nomi9995 ok. I will try it. thanks

[2021-11-17 08:38] nomi9995 commented on #44
@natex-mobile-viraj right now. we don't support bundled images. you should pass video URI like `file:///path_of_file.extension`

[2021-11-17 13:05] PrabhakarKotipalli commented on #41
[https://github.com/PrabhakarKotipalli/compression/tree/master/TestApp](url)

[2021-11-17 13:08] PrabhakarKotipalli commented on #41
[https://github.com/PrabhakarKotipalli/compression](url)

[2021-11-18 08:01] nomi9995 commented on #41
@prabhakardude I was busy. i will check it in 2 hours

[2021-11-18 17:57] nomi9995 commented on #41
@PrabhakarKotipalli I have tested this example on my side and it is working well. what error do you face?

[2021-11-19 05:57] PrabhakarKotipalli commented on #41
`[Error: null]`

I am getting this for every video
@nomi9995

[2021-11-19 06:12] nomi9995 commented on #41
@PrabhakarKotipalli can you connect with me on LinkedIn, I can see it on google meet. https://www.linkedin.com/in/nomi9995/

[2021-11-19 06:30] PrabhakarKotipalli commented on #41
I sent u the connection request @nomi9995  Thank you

[2021-11-21 09:26] swizes commented on #44
I am testing the example video compression screen

I get the same error for the "sourceVideo"

Here is the path of the file

file:///Users/swizes/Library/Developer/CoreSimulator/Devices/1CD6BFB7-2777-4C4A-83CE-B89DCA2C79EA/data/Containers/Data/Application/DE68D37D-B8BD-49D2-A9E8-DC6BE64F666C/tmp/big_buck_bunny.mp4

[2021-11-22 05:10] nomi9995 commented on #44
@swizes it seems like a linking issue. can you remove pod and reinstall pod and install build from Xcode and try again. or you can try different video?
it is not reproducing on my side.

[2021-11-22 13:18] panvourtsis commented on #44
I have the same issue till yesterday. I removed my `Podfile.lock` and run `pod install` and suddenly I see that. I checked pod is installed.

I tried manual installing it but it breaks in another error that I cannot resolve.

[2021-11-23 06:05] nomi9995 commented on #44
@panvourtsis you are right, we added `react-native-get-random-values` in 1.0.3 version
https://github.com/Shobbak/react-native-compressor/releases/tag/v1.0.3

[2021-11-23 17:26] felipemillhouse opened #45 "base64 on Android returns image path"
There is some issue on android method to return base64 image and not the image path. On iOS it works like a charm. I was using `"react-native-compressor": "^1.0.0"` I've updated it to `1.0.3` but no luck with it

[code]
return:
[code]

It happens only with `compressionMethod: 'auto'`

[2021-11-24 08:47] joxw1 commented on #26
@nomi9995 Was this prop added? Any updates on it?

[2021-11-24 09:43] nomi9995 commented on #26
@joxw1 no, I did not add. I forgot. i will add it today

[2021-11-24 10:44] siddharth9470 opened #46 "The following Swift pods cannot yet be integrated as static libraries:"
The Swift pod `react-native-compressor` depends upon `React-Core`, which does not define modules. To opt into those targets generating module maps (which is necessary to import them from Swift when building as static libraries), you may set `use_modular_headers!` globally in your Podfile, or specify `:modular_headers => true` for particular dependencies.

Above error throws when installing pod for

[2021-11-24 10:57] nomi9995 commented on #46
@siddharth9470 can you tell me the version of your `react-native` and `react-native-compressor`

[2021-11-24 12:38] siddharth9470 commented on #46
react native version is 0.60.6 and react-native-compressor is 0.5.6

[2021-11-24 13:28] #44 closed

[2021-11-24 13:40] #27 closed

[2021-11-24 13:41] #29 closed

[2021-11-24 13:41] #33 closed

[2021-11-24 13:42] #35 closed

[2021-11-24 13:42] #36 closed

[2021-11-24 13:42] #38 closed

[2021-11-24 13:43] #39 closed

[2021-11-24 13:44] #42 closed

[2021-11-24 13:44] #43 closed

[2021-11-24 14:07] nomi9995 commented on #26
@joxw1 i have added `minimumFileSizeForCompress` for this purpose

https://github.com/Shobbak/react-native-compressor#minimumfilesizeforcompress-number-default-16

i will release today after fixing one or two more issue

[2021-11-24 14:22] joxw1 commented on #26
@nomi9995 Thanks! Great effort! 🎉

[2021-11-24 16:26] nomi9995 commented on #30
@mobilewd you can fix thorough **solution 1** from here: https://stackoverflow.com/a/70099586/8079868

[2021-11-24 16:26] #30 closed

[2021-11-24 16:29] nomi9995 commented on #46
@siddharth9470 it is not reproducing on my side. can you provide a reproducible example so I can fix it?

[2021-11-24 18:11] nomi9995 commented on #26
https://github.com/Shobbak/react-native-compressor#minimumfilesizeforcompress-number-default-16

just released `1.1.0` version of the compressor which has fixed this issue.

[code]

[2021-11-24 18:11] #26 closed

[2021-11-24 18:12] nomi9995 commented on #45
@felipemillhouse

just released `1.1.0` version of the compressor which has fixed this issue.

[code]

[2021-11-24 18:12] #45 closed

[2021-11-24 19:42] felipemillhouse commented on #45
@nomi9995 I just tested it and it works 10/10. Just one more thing if you want to fix that, I noticed and I forgot to tell you. On android, using manual `compressionMethod` the base64 value comes with white spaces, and in my validation process ( using `class-validator` lib on backend) it says `invalid base64 value`. So I have to remove those white spaces (`_.replace(compressed, /\s/g, '')`) before

[2021-11-25 05:32] nomi9995 commented on #45
@felipemillhouse thanks for highlighting, I will fix it next release

[2021-11-26 08:04] timges opened #47 "onProgress callback for images"
Hey folks, firstly thanks for creating this library 🤙🏼  Do you have any plans on adding the onProgress callback to image-compression, aswell? Would be pretty useful imo.

[2021-11-26 08:39] nomi9995 commented on #47
@timges I will add in the next release. thanks

[2021-11-26 09:01] timges commented on #47
Sounds great, thanks 🔥

[2021-11-29 17:17] swanand6300 opened #48 "Error: width and height must be > 0"
I have facing this issue, Can you please Help me out.

Error: width and height must be > 0
promiseMethodWrapper@http://localhost:8082/index.bundle?platform=android&dev=true&minify=false&app=com.instapoc&modulesOnly=false&runModule=true:2568:45
compress@http://localhost:8082/index.bundle?platform=android&dev=true&minify=false&app=com.instapoc&modulesOnly=false&runModule=true:120311:40
compressVideo

[2021-11-29 21:08] swanand6300 commented on #48
By mistake i have called Image compressor for Video. Sorry for misunderstanding.

[2021-11-29 21:08] #48 closed

[2021-11-29 21:48] swanand6300 commented on #44
I have encounter the same issue and it is not working even i have installed the new release.

[2021-11-29 23:52] GrandPoohBear opened #49 "Division by zero crash in iOS when resolution is smaller than the specified output resolution"
Calling compress on a source video of size 848x480 (as output by Ray-Ban Stories glasses) with a desired output of 1280x720 will yield a division by zero error in the `makeVideoBitrate` function.  Specifically [this line](https://github.com/Shobbak/react-native-compressor/blob/master/ios/Video/VideoCompressor.swift#L249):

[code]

Since `originalHeight` is an int, and `height` is a larger int, the

[2021-11-30 05:53] nomi9995 commented on #44
@swanand6300 can you install
[code]
and then run `pod install` and then check?

[2021-11-30 06:02] nomi9995 commented on #49
@GrandPoohBear thanks for pointing it out. currently, I am in the office and doing a company job. I will see it when I am at home

[2021-12-01 19:39] luisdesouza10 commented on #41
Rn 65 not working for me, no error appearing

[2021-12-02 05:09] nomi9995 commented on #41
@luisdesouza10 can you tell me the error message which you get?

[2021-12-05 16:16] BakouBakou opened #50 "Is it possible to cancel a ongoing video compression?"
Hello,

I would like to allow the user to cancel the video compression progress.

example use case: the user selected the wrong video and wants to select a different one. We don't want him to wait for the whole compression time.

thank you in advance!

[2021-12-06 05:43] nomi9995 commented on #50
@BakouBakou this feature is not supported yet. I think it should add in the future. I will do RND on it.
thanks

[2021-12-06 06:01] nomi9995 commented on #23
Closing due to inactivity.

[2021-12-06 06:01] #23 closed

[2021-12-06 06:01] nomi9995 commented on #40
Closing due to inactivity.

[2021-12-06 06:01] #40 closed

[2021-12-06 06:02] nomi9995 commented on #46
Closing due to inactivity.

[2021-12-06 06:02] #46 closed

[2021-12-08 10:39] #49 closed

[2021-12-08 10:46] nomi9995 commented on #49
@GrandPoohBear sorry for the late fix because I became busy with other things.
Now you can install this version
[code]

[2021-12-08 22:31] GrandPoohBear commented on #49
Looks good!  I'll update shortly.

[2021-12-10 06:03] thinnakrit opened #53 "Resolution fail!"
Hello

I select portrait video,
file after compression is landscape video

[2021-12-10 06:42] #53 closed

[2021-12-10 06:43] thinnakrit opened #54 "Video compressionMethod manual don't work"
Video compressionMethod manual don't work

"react-native": "0.63.4",
"react-native-compressor": "^1.1.1",

[code]

[2021-12-11 06:37] workhexaloop opened #55 "Auto Video compression Method not working getting "Native module not found" error"
Auto Video compression Method not working getting **"Native module not found"**  error

 Video compression **working** with this version:
"react": "17.0.1",
"react-native": "0.64.2",
"react-native-compressor": "^0.5.3",

 Video compression **not working** with this version:
"react": "17.0.2",
"react-native": "0.66.1",
"react-native-compressor": "^1.1.1"

This is the code which we are using:

[code

[2021-12-13 07:25] nomi9995 commented on #55
@workhexaloop you can install `react-native-get-random-values` manually and check
[code]

[2021-12-13 07:31] nomi9995 commented on #54
@thinnakrit can you tell me the error which you are getting by using try-catch ?

[2021-12-14 12:02] workhexaloop commented on #55
Thanks @nomi9995 its working now.

[2021-12-14 12:02] #55 closed

[2021-12-14 13:30] daschaa opened #56 "Crash of video compression on Samsung J5"
We are currently facing an error with the compression on a Samsung J5 device. It runs into an IllegalStateException in the `VideoSlimmer.convertVideo()` call.

We get the following stacktrace:
[code]

We found out, that in the `com.zolad.videoslimmer` package the `releaseCoder()` method has no proper exception handling if an encoder is already released. This results in the exception bubbling up in

[2021-12-14 13:39] nomi9995 commented on #56
@joxw1 nowadays, my office routine is busy. i can fix it on weekend

[2021-12-14 22:10] emmbyiringiro opened #57 "Adjust 16mb minimum compression size for react-native-compressor@0.5.6"
Some developers start to use this package within the expo. Unfortunately, Expo still uses an old version of React Native up to `React Native 0.64.3`.

 Can you  remove this  condition  https://github.com/Shobbak/react-native-compressor/blob/dd5c106522461005acd89d6f679c0ef2f96fdd74/ios/Video/VideoCompressor.swift#L205

and old version users can benefit from that patch.

[2021-12-15 03:00] xuanhieupd commented on #57
+1

[2021-12-15 03:46] chickho opened #58 "how to add video resizemode props while compress (react-native-compressor@0.5.6)?"

[2021-12-15 04:58] princejoogie opened #59 "Compression value is empty"
im getting this error in the image compressor
![image](https://user-images.githubusercontent.com/47204120/146125904-c4e764b1-72f7-4e9b-9c3f-441d35b663ab.png)

these are the args i pass to the compress function:
[code]

what is the "Compression value" that i need to input? where?

[2021-12-15 05:01] #59 closed

[2021-12-15 05:02] princejoogie commented on #59
just paseed invalid image path

[2021-12-15 11:20] nomi9995 commented on #57
@emmbyiringiro @xuanhieupd today I am busy with office work. hope I will add this tomorrow. thanks

[2021-12-15 11:35] emmbyiringiro commented on #57
Start from Expo SDK 42, the Expo team release a new service that makes the Expo app support a native module.

Expo community has no built-i media compression package. This package is the one that is a great candidate as It has an easy setup and API to work with.

I expect many Expo users to adopt this.

I wish I can help more unfortunately I don't have a background in native development.

You can

[2021-12-15 21:01] NiklasLehnfeld opened #61 ""Error: Native module not found" when uuid package gets called"
We currently have the problem that when we call the `Video.compress` of your package we are getting a `Error: Native Module not found` error. Solution was to install the `react-native-get-random-values` dependency on our own.

According to https://github.com/uuidjs/uuid/issues/570  this issue can be solved by moving `react-native-get-random-values` in your `package.json` from the dependencies to t

[2021-12-16 15:37] nomi9995 commented on #57
@emmbyiringiro @xuanhieupd can you check `0.5.8`

[code]

[2021-12-16 15:46] emmbyiringiro commented on #57
Thanks for the patch. I have another issue or I'm doing wrong something.

By default, the video size for compression is `640`. When I record video with camera on android, the  camera record video with  `width:480` and `height:640` dimensions.

I was expecting this video to be compressed on to default of `640`. Unfortunately, the app crash and I need to lower video compression to either `480` or `3

[2021-12-16 17:41] nomi9995 commented on #57
@emmbyiringiro can you confirm, in `0.5.8` version `minimumFileSizeForCompress` is working or not?

[2021-12-16 17:43] nomi9995 commented on #57
@emmbyiringiro can you send me the video, so I can check that video on my side?

[2021-12-16 17:59] emmbyiringiro commented on #57
I investigate the issue and I found that all videos you want to compress must have a video size great than `maxSize` otherwise it will crash.

For example, if you have a video like this  https://sample-videos.com/video123/mp4/360/big_buck_bunny_360p_1mb.mp4 which has width `640` and height `360` and you set `maxSize` to `640` this will crash.

Even if video size `640` is equal `maxSize`. The devic

[2021-12-16 18:36] emmbyiringiro commented on #57
I installed but it crashed with `Native module not found` error.

I'm using Expo SDK 42  which uses React Native `0.63` .

You can read more about this Expo Native module integration
https://blog.expo.dev/introducing-custom-development-clients-5a2c79a9ddf8

[2021-12-16 18:44] emmbyiringiro commented on #57
This issue happen on android

[2021-12-17 07:50] nomi9995 commented on #57
@emmbyiringiro can you check `0.5.9` version. I have added support for the expo. you can read docs

[code]

[2021-12-17 07:51] nomi9995 commented on #57
i will investigate this later

[2021-12-17 10:50] govind-v-natex opened #63 "App getting crashed, if we upload a video of more than 20 minutes."
If we upload a video of more than 20 minutes, app is getting crashed, we have tested the video of duration 30 sec, 01 minute, 05 minutes, 10 minutes and 15 minutes, it's compressing fine, the video more than of 20 minutes is not compressing and giving us this log (I'm attaching the log of the RN-Debugger that we get, if we try to compress the 20min video). Kindly have a look into this.

----------

[2021-12-17 11:36] nomi9995 commented on #63
@govind-v-natex can you send me the that video because it is not happening this on my side?

[2021-12-17 13:33] ravinderCurv3803 opened #64 "In android getting issue on portrait video."
Compression mode is auto.Getting video stretch/landscape while i have portrait video. how to set default size of video.

[2021-12-17 15:06] emmbyiringiro commented on #57
Have tested this package with Expo 42. I tried and result in this error.

`[TypeError: null is not an object (evaluating 'NativeVideoCompressor.compress')`

It seems that EXPO SDK 42 does not register native module

[2021-12-17 18:46] nomi9995 commented on #57
@emmbyiringiro after the above steps, can you run these three commands and test them?
[code]

[2021-12-20 05:28] govind-v-natex commented on #63
Hello @nomi9995 , I have sent you the video in the mail with subject line: **Sample Video getting crashed in the application**
as GitHub is not allowing to send a large file, please have a look into this !!!

[2021-12-20 20:46] unoegohh opened #65 "Video is not resizing"
Hi!  I am having troubles with video compression
[code]
[code]
 [original file](https://drive.google.com/file/d/13lRRcXOnlezktSpDnZORSa1GW06XeGIU/view?usp=sharing)
original file is 42mb 1080 × 1920 30 sec
compressed always 3.2 mb 360 × 568

i need to do something to make video 600x1000
i have tried all params from doc but nothing changes( mb i am doing something wrong
and i tried different video

[2021-12-21 05:31] nomi9995 commented on #65
@unoegohh let me see it

[2021-12-21 06:02] govind-v-natex commented on #63
Any update @nomi9995 ?

[2021-12-21 06:19] nomi9995 commented on #63
@govind-v-natex I am too much busy with office work. hopefully i will see it today

[2021-12-21 06:32] #61 closed

[2021-12-21 06:34] nomi9995 commented on #65
@unoegohh are you want manual compression or auto compression-like WhatsApp?

[2021-12-21 06:42] govind-v-natex commented on #63
@nomi9995 i want to add one more point i was checking with one video of duration 30 sec but the size of the video is 300mb, the app is crashed, i not sure it's happening because of the size of the video or the duration of the video.

No worries, take your time !!!

[2021-12-21 07:05] nomi9995 commented on #65
@unoegohh if I use `maxSize: 1000` then I am getting `562x1000` resolution of the video which you have attached

[code]

[2021-12-21 07:38] unoegohh commented on #65
Hmm it is strange cause if i use

[code]

and then i get

`video1 file:///Users/unoegohh/Library/Developer/CoreSimulator/Devices/C856B11B-463E-48F6-9396-5F4E0838CDC2/data/Containers/Data/Application/60489947-00AB-49D1-A5F0-E72164EDD6D5/tmp/react-native-image-crop-picker/F6B9FBB8-4C2A-4882-ABBC-A3E9BFE8A0C7.mp4`

and it is still get 320x564 video

[file](https://drive.google.com/file/d/1UbQRoG61AJI

[2021-12-21 07:39] unoegohh commented on #65
Hmm it is strange cause if i use

[code]

and then i get

`video1 file:///Users/unoegohh/Library/Developer/CoreSimulator/Devices/C856B11B-463E-48F6-9396-5F4E0838CDC2/data/Containers/Data/Application/60489947-00AB-49D1-A5F0-E72164EDD6D5/tmp/react-native-image-crop-picker/F6B9FBB8-4C2A-4882-ABBC-A3E9BFE8A0C7.mp4`

and it is still get 320x564 video

[file](https://drive.google.com/file/d/1UbQRoG61AJI

[2021-12-21 07:47] nomi9995 commented on #65
@unoegohh yes `react-native-image-crop-picker =>. openPicker` is compressing video by reducing video height and width.

[2021-12-21 09:07] #63 closed

[2021-12-21 09:09] nomi9995 commented on #64
@ravinderCurv3803 can you add video here so i can test

[2021-12-21 09:13] nomi9995 commented on #57
@emmbyiringiro closing this because I have fixed it and released the `0.5.9` version. you can open another issue for the expo if you want

[2021-12-21 09:13] #57 closed

[2021-12-21 09:14] nomi9995 commented on #56
@daschaa I have not Samsung j5 device. can you tell me the reproducible step of this error so I can fix it

[2021-12-21 09:16] nomi9995 commented on #54
@thinnakrit feel free to reopen if you get this issue again

[2021-12-21 09:16] #54 closed

[2021-12-21 09:17] nomi9995 commented on #58
@chickho resize mode contain is already applied to every video. why do you need this prop

[2021-12-21 09:18] nomi9995 commented on #41
can you try the newest version of the compressor? feel free to reopen. closing due to inactivity

[2021-12-21 09:18] #41 closed

[2021-12-21 09:22] nomi9995 commented on #63
@govind-v-natex I have released a new version of the compressor. can you try this version?
[code]

[2021-12-21 10:28] govind-v-natex commented on #63
Sure, i'm trying this.
Thanks !!!

On 2021-12-21 14:52, Numan wrote:

Links:
------
[1] https://github.com/govind-v-natex
[2]
https://github.com/Shobbak/react-native-compressor/issues/63#issuecomment-998610068
[3]
https://github.com/notifications/unsubscribe-auth/AWMXO3OSM6B4M2IY5B3FYZLUSBBOPANCNFSM5KIRJY7Q
[4]
https://apps.apple.com/app/apple-store/id1477376905?ct=notification-email&amp;mt=8&amp;

[2021-12-21 10:54] govind-v-natex commented on #63
Thank you so much, it's working fine !!!

All the best, you are doing a great job !!!

Regards:
Govind Varshney

On 2021-12-21 14:52, Numan wrote:

Links:
------
[1] https://github.com/govind-v-natex
[2]
https://github.com/Shobbak/react-native-compressor/issues/63#issuecomment-998610068
[3]
https://github.com/notifications/unsubscribe-auth/AWMXO3OSM6B4M2IY5B3FYZLUSBBOPANCNFSM5KIRJY7Q
[4]
https://a

[2021-12-21 14:04] daschaa commented on #56
I can not tell you exactly the reproducible step because i just saw this issue often in our crash reports. I think the problem lays in the third-party-dependency rather than in this library. I can only reference to the stacktrace given above.

[2021-12-21 14:49] workhexaloop opened #68 "video resize is not wokring properly"
We are facing issue in resizing video.

Video resolution is 3840*2160 where Height is 3840 and width is 2160.
But the compress take width as 3840 and Height as 2160.

Attaching the original video link:
https://drive.google.com/file/d/1gJuvGcliKgFK1JLRXLtTalcuUxyII6Sz/view?usp=drivesdk

please provide solution for this.

Thanks

[2021-12-22 02:51] hongkheng opened #69 "Getting crash when compressing video in iOS"
I'm facing a crash in iOS after selecting a video in the camera roll. It's happening for all videos.

The library i'm using for Cameraroll is `@react-native-community/cameraroll`.

The uri path that I'm passing to the `compressVideo` method is of the form `ph://1ABDEA26-31B1-4EB0-B579-A7B8D8B49EED/L0/001`.  I even tried to use `react-native-fs` to use the path ` /var/mobile/Containers/Data/Applica

[2021-12-22 05:27] nomi9995 commented on #69
@hongkheng we are expecting paths like `file:///path_of_file.extension`.

can you add reproducible example so I can add support for `ph://` files?

[2021-12-22 06:10] hongkheng commented on #69
@nomi9995 I will need some time to reproduce that, will be nice to have support for `ph://` path.

[2021-12-22 07:12] nomi9995 commented on #68
@workhexaloop which platform, you are testing with? Android or IOS?

[2021-12-22 08:02] workhexaloop commented on #68
we are testing on android.

[2021-12-22 09:23] chickho commented on #58
because the result of the video that I compressed is landscape(resize mode:stretch) while the original video is portrait(resizemode:"cover")

[2021-12-22 11:52] #50 closed

[2021-12-22 11:56] nomi9995 commented on #50
@BakouBakou now you can can cancel video compression like this
[code]

[2021-12-22 14:03] antoshindanil opened #71 "[IOS] Failed to use "ph:://" image uri"
### Current behavior
Throw error with cannot read file
`Error processing request body: Error Domain=NSCocoaErrorDomain Code=260 "Не удалось открыть файл «C25D1B52-2740-494B-9FDC-6E69449B7DF0.jpg», так как такого файла не существует." UserInfo={NSFilePath=/private/var/mobile/Containers/Data/Application/711CAA50-1640-46E5-8E0A-86B9C439414E/tmp/C25D1B52-2740-494B-9FDC-6E69449B7DF0.jpg, NSUnderlyingEr

[2021-12-22 19:16] nomi9995 commented on #71
@antoshindanil can you attach a reproducible example here?

[2021-12-23 05:13] nomi9995 commented on #58
@chickho can you attach that video so i can test and which platform, you are using Android or IOS?

[2021-12-23 05:15] nomi9995 commented on #68
@workhexaloop I don't know the actual problem. can you elaborate please?

[2021-12-23 08:26] govind-v-natex opened #72 "Facing issue when compressing a video in android, it's orientation getting changed."
when compressing a video recorded from the android mobile in vertical direction, after compressing it, it's orientation is getting changed to horizontal.

This issue is only in the video recorded from the android device, any video we are downloading and compressing it's working fine, please have a look into this @nomi9995

[2021-12-23 18:12] daschaa commented on #56
Ok i have fixed [the issue](https://github.com/zolad/VideoSlimmer/issues/7) and created my own VideoSlimmer package. As long as the VideoSlimmer package is not maintained, I would propose to use my package here: https://github.com/daschaa/VideoSlimmer/packages/1163123

I can add you as maintainer if you want to. Then you don't have to add the code to your native codebase. Would be cool if we could

[2021-12-24 04:56] nomi9995 commented on #72
@govind-v-natex can you provide video so i can test it on my side?

[2021-12-24 04:59] nomi9995 commented on #56
@daschaa I already have removed the VideoSlimmer package and maintaining my own. I have a plan to replace this in the future because it is slow.

https://github.com/Shobbak/react-native-compressor/commit/443cefa634d030129de586c3590ddfef9f1af956

[2021-12-24 05:03] nomi9995 commented on #56
@daschaa https://github.com/AbedElazizShe/LightCompressor My plan is to integrate this package what do you think?

[2021-12-24 05:09] govind-v-natex commented on #72
Sure I'm sharing the video over mail @nomi9995

[2021-12-24 05:15] govind-v-natex commented on #72
But @nomi9995 , the bug can be tested only if you record the video from the android device and try to compress, if i share the recorded video and you download it and test it, will work fine.

[2021-12-25 21:06] NiklasLehnfeld commented on #56
@nomi9995 Did you check the license of the mentioned library? That is GPL 3. I am not a lawyer, but I think that would mean that you also have to change your license to GPL 3. And unfortunately I am currently not 100% sure, but I think that would mean that you would lose us as users.

[2021-12-26 08:10] nomi9995 commented on #56
@NiklasLehnfeld sorry I did not read. i will revert it soon

[2021-12-26 08:19] nomi9995 commented on #56
@NiklasLehnfeld https://github.com/Shobbak/react-native-compressor/commit/671d83dc43aab5d66d8096c5e860165a8ecfc5ac

[2021-12-26 09:22] NiklasLehnfeld commented on #56
Sorry, I am a bit confused. Were you actually using the library? I don't see the dependency in the `build.gradle` in the last few commits. 🤔

[2021-12-27 04:41] govind-v-natex commented on #72
@nomi9995 Any update on this ?

[2021-12-27 18:19] drash-course commented on #49
I'm still having a crash in a similar situation. The code does integer division and crashes when `width * height` is larger than `1280 * 720`.

Fixed code:
[code]

[2021-12-28 11:17] drash-course commented on #49
You can find a PR for the issue above. https://github.com/Shobbak/react-native-compressor/pull/73

It's not exactly on topic but I'll leave it here if someone finds this issue with the same problem as me.

[2021-12-28 16:23] dhayaljaswantgit commented on #69
Hello Guys,

Anybody able to fix this issue, I'm facing the same on iOS.

Thanks

[2021-12-30 12:29] govind-v-natex commented on #72
@nomi9995 Any update on this, we are in between something, please have a look on priority basis.

[2021-12-30 12:36] nomi9995 commented on #72
@govind-v-natex I am going to release a new version of the compressor. it has been fixed. I will let you know when i release new version

[2021-12-30 14:28] nomi9995 commented on #72
@govind-v-natex can you check `1.3.2` version?

[2021-12-30 15:25] govind-v-natex commented on #72
Sure, I'm checking @nomi9995

[2022-01-03 06:49] realfelixyu opened #76 "iOS Xcode build error after manual installation"
### Current behavior
After doing the iOS manual setup(I'm on bare workflow btw, just ejected expo), running in xcode gives following build error:

**error opening input file '/Users/......../node_modules/react-native-compressor/ios/Video/Compressor-Bridging-Header.h' (No such file or directory)**

It looks like the react-native-compressor/ios/Video/ directory doesn't have Compressor-bridging-Heade

[2022-01-03 07:09] nomi9995 commented on #76
@realfelixyu can you add minimal repro through the GitHub repo? because it was working on my side.

[2022-01-03 07:15] nomi9995 commented on #69
@hongkheng @dhayaljaswantgit if you add minimal repro issue through the new GitHub repo then I can fix it quickly. thanks

[2022-01-03 07:16] #72 closed

[2022-01-03 07:49] nomi9995 commented on #56
@NiklasLehnfeld I was copied code directly in this package but then I reverted. now i am using this package
https://github.com/nomi9995/VideoCompressor

[2022-01-03 14:04] NiklasLehnfeld commented on #56
@nomi9995 ah okay. Is that now already included in one of the latest releases?

[2022-01-03 14:28] nomi9995 commented on #56
yes, included in new release.

[2022-01-04 15:57] emmbyiringiro opened #77 "Stretching resolution for potrait video with ratio of 18:9"
The latest android device camera has support for `18:9`.  when a device uses this aspect ratio the video is rendered in portrait mode which is better for video reels platforms like TikTok.

When you need to compress down, on Android Video stretch and final resolution become landscape.

I have done this test  for  final compression resolution

https://github.com/Shobbak/react-native-compressor/blob

[2022-01-04 16:38] emmbyiringiro commented on #77
I am using version 0.5.11 for old react native version

On Tue, Jan 4, 2022, 6:18 PM Numan ***@***.***> wrote:

[2022-01-04 18:50] nomi9995 commented on #77
@emmbyiringiro can you try `0.5.12`?

[2022-01-04 22:59] emmbyiringiro commented on #77
There's a conflict from the previous version you need to solve before release.  You were tired  Lol you didn't catch them.

https://github.com/Shobbak/react-native-compressor/commit/880e95f29951e3e02479ae868f5c553730194901

[2022-01-05 07:00] nomi9995 commented on #77
@emmbyiringiro sorry I did `cherry-pick` and pick the wrong commit. can you try `0.5.13`?

[2022-01-06 05:29] nomi9995 commented on #77
@emmbyiringiro did you check `0.5.13` version?

[2022-01-06 06:42] emmbyiringiro commented on #77
Git conflict solved but there's another compile-time error.
[code]

I'm using Expo  EAS BUILD service to compile native module

[2022-01-06 08:47] nomi9995 commented on #77
@emmbyiringiro i will investigate this and fix it soon.

[2022-01-06 15:54] nomi9995 commented on #77
@emmbyiringiro can you try `0.5.14` version and let me know?

[2022-01-06 19:43] nomi9995 commented on #77
@emmbyiringiro as you verified me on linkedin. so i am closing this issue.
user having react-native<0.65 can use `0.5.14` version of compressor.

[2022-01-06 19:43] #77 closed

[2022-01-09 00:59] emmbyiringiro opened #78 "[SUGGESTION ] - Replace VideoSlimer as video compressor on Android"
https://github.com/zolad/VideoSlimmer seems like not work well with video with modern aspect ratios.

If you do various tests on various video aspect ratios, the module works well with traditional ratios like `4:3` or `16:9`.

While rotating video on a modern ratio like `18:9` on `1920x1080`. This also happens in the test video by the module author.

Author compress video with `1920x1080` and outp

[2022-01-09 05:26] nomi9995 commented on #78
@emmbyiringiro i already replace you can check in build.gradle.

[2022-01-11 09:46] cenim opened #79 "Video can't play after compression in android"

[2022-01-11 09:57] cenim commented on #79
This is the code segment

`compressVideo = async (uri) => {
        this.setState({ showLoader: true })

        //To avoid name conflict with default react native class Video
        //import * as Compressor from 'react-native-compressor';

         let result = await Compressor['Video'].compress(uri, {
            compressionMethod: 'auto',
        }).then(res => {

            this.setState({ s

[2022-01-11 10:11] cenim commented on #79
Only works on IOS, video corrupts on android after compression

[2022-01-11 10:12] nomi9995 commented on #79
@cenim can you attach video you are trying to compress?

[2022-01-11 10:28] cenim commented on #79
Can't upload since file max here size is 10mb. I've tested on 2 phones. A12 samsung and Pixel 3. On Android, image compression works fine but video can't be played after compression. IOS however, both compressions work perfectly. I don't know if I'm doing something wrong in the android...

[2022-01-11 10:31] cenim commented on #79
https://drive.google.com/file/d/1bV3Q8wZSxhkQt5xbSIgsWhqAwYECM2Lb/view?usp=sharing

[2022-01-12 12:33] nomi9995 commented on #79
@cenim it is working on my side, here is a compressed video of your
https://drive.google.com/file/d/1xwqLBWo9vHWBayBRWLMyDW83Ml1EwYwS/view?usp=sharing

[2022-01-12 12:47] nomi9995 commented on #79
@cenim now I got your point, the android compressor is compressing video without sound and your server is not supported without sound video. let me fix it

i think, @govind-v-natex also have same type of issue.

[2022-01-12 12:49] cenim commented on #79
What do I change then?

[2022-01-12 12:54] cenim commented on #79
Ok I'm waiting

[2022-01-12 13:02] #79 closed

[2022-01-12 13:04] nomi9995 commented on #79
@cenim now you can use `1.3.4` version.
[code]

[2022-01-12 13:24] cenim commented on #79
Issue persisting. Probably something different other than sound.
The compressed video is black and can't play at all.
![Screenshot_20220112-132219](https://user-images.githubusercontent.com/29374116/149148512-141e607c-37fc-4ea0-8c3d-15aa1d4a4d5d.jpg)

[2022-01-12 13:28] nomi9995 commented on #79
@cenim can you try to compress the video from the example folder of this package. it is working on our side.

here is your compressed video.
https://user-images.githubusercontent.com/36044436/149149038-fa690681-e8f9-40c6-8b15-935548619ce8.mp4

[2022-01-12 13:47] nomi9995 commented on #79
@cenim if you connect with me on LinkedIn than i can see this issue on your machine if you want.

[2022-01-13 09:55] cenim commented on #79
I figured it out. The directory for videos after compression in android should be `file:///` not `file://`. So I just replaced that in the res:

`result.replace("file://","file:///" )`

Thanks a lot

[2022-01-13 10:18] nomi9995 commented on #79
@cenim thanks, I will implement `///` for android in next release.

you find this package useful than hit the star for support to this package.

[2022-01-13 20:24] sdcooke commented on #79
@cenim did the update and `file:///` changes definitely fix it for you? I'm having the same issue after both of those fixes. The compressed video is blank when played on the iOS simulator, Finder on a mac, or VLC and has glitchy green artefacts in Quicktime. I've been using `ffprobe` to look at the differences between a file encoded on the iOS simulator and an Android device (Pixel 4a) and can't s

[2022-01-14 05:30] nomi9995 commented on #79
@sdcooke means it is working with the example file of this project but not working in your project?

[2022-01-14 10:03] sdcooke commented on #79
Sorry - I hadn't spotted the sample links in the spreadsheet! I just tried with https://sample-videos.com/video123/mp4/720/big_buck_bunny_720p_20mb.mp4 and am seeing the same issue. In auto mode it gets compressed to this https://www.dropbox.com/s/1c82qjjdvi2ip4r/IMG_0019.MP4?dl=0 which looks like this when I play in Quicktime on my mac, and is just blank on the iOS simulator.
![Screenshot 2022-01

[2022-01-14 12:20] sdcooke opened #81 "Color issues with HDR video on iOS"
HDR videos (such as those recorded by the default camera on iOS) do not display correctly after compression on iOS. They look right on macos, but I'm assuming that's because I do not have an HDR display on my mac but the iPhone 13 Pro and Pixel 4a are trying to display as HDR. The colors are incorrect.

I used this sample video https://img.photographyblog.com/reviews/apple_iphone_13/sample_images/

[2022-01-18 11:01] #78 closed

[2022-01-18 11:08] emmbyiringiro opened #82 "Return compressed video metadata"
Currently, implementation return only compressed video `uri`, this work well in most situation but in some situation, video extra metadata like `width`, `height`, `size`, `duration`, `extension` and more are required when user need those metadata to control video base on them.

Is any plan to expose metadata for video?

[2022-01-28 21:51] nomi9995 commented on #71
@antoshindanil fixed by `1.4.0` version

[2022-01-28 21:51] #71 closed

[2022-01-28 21:52] nomi9995 commented on #69
@hongkheng @dhayaljaswantgit fixed by `1.4.0` version

[2022-01-28 21:52] #69 closed

[2022-01-28 21:53] nomi9995 commented on #56
I think it is already fixed. feel free to reopen if you see this problem again.

[2022-01-28 21:53] #56 closed

[2022-01-28 21:53] nomi9995 commented on #58
I think it is already fixed. feel free to reopen if you see this problem again.

[2022-01-28 21:53] #58 closed

[2022-01-28 21:53] nomi9995 commented on #64
it is already fixed. feel free to reopen if you see this problem again.

[2022-01-28 21:53] #64 closed

[2022-01-28 21:54] nomi9995 commented on #65
I think it is already fixed. feel free to reopen if you see this problem again. thanks.

[2022-01-28 21:54] #65 closed

[2022-01-28 21:55] nomi9995 commented on #68
@workhexaloop ?

[2022-01-28 21:55] nomi9995 commented on #76
I think it is already fixed. feel free to reopen if you see this problem again. thanks.

[2022-01-28 21:57] nomi9995 commented on #82
@emmbyiringiro I hope, I will add this in the next version.

[2022-01-29 21:23] #82 closed

[2022-01-29 21:26] nomi9995 commented on #82
@emmbyiringiro can you try alpha version
[code]
here is the docs for meta data function
https://github.com/Shobbak/react-native-compressor#get-metadata-of-video

[2022-01-30 10:48] nomi9995 commented on #68
Closing due to inactivity.  feel free to reopen this issue if you get this issue in the future.

[2022-01-30 10:48] #68 closed

[2022-01-30 10:53] nomi9995 commented on #47
@timges I tested 100mb image, it just takes 1 or 2 sec to compress, I think, we should not add progress for image compression because compression for an image does not take too much time, it will be overhead. what do you think?

[2022-01-30 11:00] nomi9995 commented on #81
@sdcooke as far as i know, we are compression high-resolution video to 640 max resolution, can you try with increase `maxSize` llike
[code]
https://github.com/Shobbak/react-native-compressor#maxsize-number-default-640

[2022-02-01 10:38] pihomeserver opened #86 "Error after adding module and starting expo project"
### Current behavior
[code]

### Expected behavior
App starts

### Platform

- [X] iOS (Android not tested)

### React Native Version
Expo 44 and RN 0.64.3

### React Native Compressor Version
1.5.0

### Reproducible Steps And Demo
Install via yarn add or expo cli
Check that the app.json has been updated with the plugin property
Restart via expo start

Here is the full error message
[code]

I don'

[2022-02-01 10:49] nomi9995 commented on #86
@pihomeserver can you try this version and let me know?
[code]

[2022-02-01 10:56] pihomeserver commented on #86
RTFM ... Sorry

Unfortunatly i can do one step more but still get the error
I remove the package, reinstalled the one for RN < 0.65, checked the app.json entry with plugin property, executed the "expo prebuild -p ios" command
The app load works
As soon as i add the following line i got the same error
[code]

[2022-02-01 11:09] nomi9995 commented on #86
@pihomeserver
@emmbyiringiro is using `react-native-compressor` for the expo. it is working fine for @emmbyiringiro. can you give me a reproducible example so I can see where is the actual problem?

[2022-02-01 13:33] pihomeserver commented on #86
Maybe i miss used it or do a syntax error
I created a new expo project `expo init compress`
Then install the lib `yarn add react-native-compressor@rnlessthan65`
Append the plugin property to app.json
[code]
Then change the default App.json content to the following
[code]
And then start expo with `expo start -c`
I got the error again
I tried to execute the prebuild command before but then i have an

[2022-02-01 13:37] nomi9995 commented on #86
@pihomeserver can you attach this repro in GitHub repo?

[2022-02-01 13:49] pihomeserver commented on #86
Here a repo generating the error : https://github.com/pihomeserver/compressTest

[2022-02-01 15:08] emmbyiringiro commented on #86
@pihomeserver  could you use EAS  - https://docs.expo.dev/eas/ it worked well for me and I hope it should be the same for you. We can have a 1-to-1 meeting in case you need further assistance

[2022-02-01 15:57] pihomeserver commented on #86
For my understanding EAS is for app management (build and publish). What about the development and live test with the expo app ?

[2022-02-01 16:00] emmbyiringiro commented on #86
Take look Expo founder tutorial on how to use this feature in development - https://www.youtube.com/watch?v=id0Im72UN6w

[2022-02-01 21:40] pihomeserver commented on #86
Unable to build it
[code]

I guess there is something wrong in the ios pods ...

[2022-02-02 06:18] nomi9995 commented on #86
@pihomeserver can you try this command and try to build again
[code]

[2022-02-02 07:22] pihomeserver commented on #86
I tried it (as it's in the log) but i still continue to have the message of the potential upgrade :

[code]

[2022-02-02 08:50] nomi9995 commented on #86
@pihomeserver can you add this repro example in GitHub and share URL so we can see it on local machine and fix it.

[2022-02-02 09:48] pihomeserver commented on #86
I think there are other issues somewhere. I created the basic project, perform a `eas build --profile development --platform ios` then when i open the app on my iPad, it blocks on the splash screen and crash ...
I will try to solve that first before adding the lib :-(

[2022-02-02 09:52] emmbyiringiro commented on #86
@pihomeserver  can we have a meeting if you can? i wish I can help

[2022-02-02 14:49] pihomeserver commented on #86
Ok found a solution : i upgraded cocoapods with brew and gem (i installed both)  then i had an issue with fastlane (i had to install it manually), then i had an issue with EXPermission (i installed it with expo install) then i could install and deploy with eas, including the compressor package !
Still have some bugs (screen rotation is not well managed) but it works and i can call compress method

[2022-02-02 14:49] #86 closed

[2022-02-02 20:13] martsneld opened #87 "iOS issue after upgrading Xcode 13.2.1"
### Current behavior
/Users/mycom/Library/Developer/Xcode/DerivedData/limelite-fmzrscpebfdblueckvpunppvzdku/Build/Intermediates.noindex/PrecompiledHeaders/Compressor-Bridging-Header-xsfx0gcl0s08.dia:1:1: warning: Could not read serialized diagnostics file: error("Failed to open diagnostics file") (in target 'Compressor' from project 'Compressor')
Command PrecompileSwiftBridgingHeader failed with a

[2022-02-02 20:15] martsneld commented on #87
@nomi9995 Could you check the errors above? I added node_modules/react-native-compressor/ios/Compress.xcodeproj to library and added libCompressor.a to `Link biary with libraries`.

[2022-02-02 20:57] nomi9995 commented on #87
@martsneld can you try to bridge the header by

![image](https://user-images.githubusercontent.com/36044436/152235901-d3e2ac8a-b4fd-474a-91b3-6d2a06d3d2a4.png)

![image](https://user-images.githubusercontent.com/36044436/152235678-7215cb1b-b754-4130-a48a-f25b137ff101.png)

![image](https://user-images.githubusercontent.com/36044436/152236070-7c33016d-f3e7-4111-af8b-73b268c6cdb3.png)

and try again

[2022-02-02 22:55] martsneld commented on #87
@nomi9995 I tried it several times. I created a blank .swift file and created a bridge. Then I dragged Compressor-Bridging-Header.h to Object-C Bridging Header.

[2022-02-03 07:22] nomi9995 commented on #87
@martsneld can you make a repro in the new GitHub repo and attach the link here so I can reproduce it on my side ad fix it. it is not reproducing on my side. I am testing the example folder in this package

[2022-02-03 23:45] jaexplorer commented on #76
No i'm getting this too

[2022-02-05 08:39] nomi9995 commented on #87
@martsneld any update?

[2022-02-06 12:13] nomi9995 commented on #76
@jaexplorer @realfelixyu can you make reproducible example because it is not reproducing on my side.

[2022-02-06 12:55] jaexplorer commented on #76
I believe it has to do with having XCode 13. Can you confirm?

[2022-02-07 00:01] hkhan6916 opened #88 "Upload formdata using backgroundUpload"
Currently this packages allows for uploading files in the background following compression. However, I have not been able to figure out if there's a way to upload other pieces of data with the media. E.g. sending information such as the title and description of the media file alongside the file itself. This feature would greatly improve background uploads.

Really appreciate the work gone into thi

[2022-02-07 05:31] nomi9995 commented on #88
@hkhan6916 thanks, i will add this soon.

[2022-02-07 05:51] nomi9995 commented on #76
@jaexplorer I am using `13.2` version of `xcode` but not getting this issue. everything is working good on my side

[2022-02-07 06:03] nomi9995 commented on #81
@sdcooke any update on this issue?

[2022-02-07 06:53] jaexplorer commented on #76
@nomi9995 Okay well, I cannot install it manually, or automatically (as per other issues posted aswell). I cannot produce a reproducable scenario for you. But I see others experiencing the same issue. I don't know the cause.

[2022-02-07 06:54] jaexplorer commented on #76
On version 0.63.2 btw react native

[2022-02-07 07:00] nomi9995 commented on #76
@jaexplorer can you try this error
[code]

[2022-02-07 08:43] rocketvilas opened #89 "Couldn't install Pods"
### Current behavior

### Expected behavior

### Platform

- [X] Android
- [X] iOS

### React Native Version:0.66.4

### React Native Compressor Version:1.5.0

[!] CocoaPods could not find compatible versions for pod "react-native-compressor":
  In Podfile:
    react-native-compressor (from `../node_modules/react-native-compressor`)

Specs satisfying the `react-native-compressor (from `../node_mod

[2022-02-07 08:45] savataqe1 opened #90 "{"error": [TypeError: null is not an object (evaluating 'NativeVideoCompressor.compress')]} compression error"
### greetings to all , it seems it is returning my value null but when i console value its not null.
### Expected behavior

Platform [X] Android

compressor version : 1.5.0

### React Native Version

My Code .
const videoGallery = () => {
    ImagePicker.openPicker({
      mediaType: 'video',
    }).then(video => {
      if (video.size / (1024 * 1024) < 10) {
        setLink(video.path);
        t

[2022-02-07 08:55] sdcooke commented on #81
Hi @nomi9995 sorry I missed your previous message! I ended up writing my own video compressor module so that I could work through the issues and get it working quicker. I used https://github.com/AbedElazizShe/LightCompressor_iOS/ as inspiration for iOS and didn't have any issues with HDR.

[2022-02-07 08:55] #81 closed

[2022-02-07 09:30] nomi9995 commented on #90
@savataqe1 I think you have an issue with linking. can you try to do manual linking and check? https://github.com/Shobbak/react-native-compressor#android

[2022-02-07 09:36] nomi9995 commented on #89
@rocketvilas can you check the `podspec` path of compress if it exists or not
`node_modules/react-native-compressor/react-native-compressor.podspec`

[2022-02-07 12:11] rocketvilas commented on #89
It exists.

[2022-02-07 12:23] nomi9995 commented on #89
@rocketvilas I think, you have to increase minimum deployment target to 11.0

[2022-02-07 13:59] rocketvilas commented on #89
It's currently at 12.0

[2022-02-08 08:44] timges opened #91 "Video resolution distorted"
### Current behavior
- Aspect ratio of the video is distorted after compression

### Expected behavior
- Video has the same aspect ratio as before the compression

### Platform

- [x] Android v11 (Samsung Note 10Plus & Samsung A 72)
- [ ] iOS

### React Native Version
0.66.4

### React Native Compressor Version
1.3.4

sounds similar to issue https://github.com/Shobbak/react-native-compressor/issue

[2022-02-08 09:07] timges commented on #47
👍🏼

[2022-02-08 09:07] #47 closed

[2022-02-08 09:54] nomi9995 commented on #91
@timges this was fixed. can you try `1.5.0` version?

[2022-02-08 10:51] timges commented on #91
@nomi9995 The issue got fixed with 0.5.14 which was released before 1.3.4. Means 1.3.4 should already include the fix, shouldn't it?

[2022-02-08 10:56] nomi9995 commented on #91
I did not remember I actually cherry-pick correctly in `0.5.14` or not

you are using RN@0.66.4 then you should use the latest version which is`1.5.1` video resolution was exists in the older version. if. you use the latest version then android compression speed will also increase.

[2022-02-08 12:38] timges commented on #91
Okay, we'll give it a try. I'll update you, when feedback is available.

[2022-02-08 12:42] nomi9995 commented on #89
@rocketvilas any update?

[2022-02-10 09:40] martsneld commented on #87
@nomi9995 Sorry for late response. no updates. I disabled this library for now. I will let you know if I have more questions when resuming this package.

[2022-02-10 17:07] alariej opened #93 "iOS app crashes when trying to compress video from the Photos app"
Hello and thanks for publishing this library.

`react-native-compressor` crashes my iOS app when attempting to compress a video which is loaded from the iOS Photos app. Video is shot using the phone's camera. If I first save the video from the Photos app to a local folder on the device (using "Save to Files" in Photos' share menu), then the compression on that saved file is successful and I get no

[2022-02-10 17:16] nomi9995 commented on #93
@alariej can you send me video so i can reproduce it on my side and fix it?

[2022-02-11 08:06] alariej commented on #93
A Share Extension in iOS allows you to share content (links, images, videos, files) from other apps into your app, using the standard iOS "Share" button. For example, if you go to the Photos library on iPhone, pick an image or a video, press on the "Share" button (lower left), you can then select an app (Mail, WhatsApp, Safari, etc.)  which you want to share the content with. You can implement tha

[2022-02-11 13:27] GrandPoohBear commented on #93
My team has seen the issue where compressed files don't have any video track, and we've been trying to track it down.  There was one video that would reproduce the situation every time, but only from our tester's phone.  Any time we tried to repro on other devices, the compression worked fine.  🤷🏻

I opened an issue against NextLevelSessionExporter (the lib doing the heavy lifting on iOS), but hav

[2022-02-12 15:19] alariej commented on #93
@nomi9995 The more I read about this issue, the more I think it has nothing to do with react-native-compressor. The problem seems to be with the way videos are stored in the Photos library on iOS. They cannot be imported into an app the same way as for images. Let me investigate this further, I will come back soon with what I can find out.

[2022-02-13 17:45] GrandPoohBear commented on #93
I would definitely recommend copying the file to the app’s documents directory before doing anything else you need it for.  The OS gives you no guarantees about how long other files in other places will be available!

[2022-02-13 18:47] sdcooke commented on #79
This sample video https://sample-videos.com/video123/mp4/720/big_buck_bunny_720p_20mb.mp4 failed for me - it compressed to https://www.dropbox.com/s/1c82qjjdvi2ip4r/IMG_0019.MP4?dl=0 which doesn't play on iOS or Quicktime.

[2022-02-13 20:50] DFRZ7 opened #94 "[Unhandled promise rejection: TypeError: null is not an object (evaluating 'NativeVideoCompressor.compress')]"
### Current behavior

Hi, when trying to compress a video in my Expo Managed App, I'm getting:

[Unhandled promise rejection: TypeError: null is not an object (evaluating 'NativeVideoCompressor.compress')]
at node_modules/react-native-compressor/src/Video/index.tsx:162:48 in compress
at node_modules/react-native-compressor/src/Video/index.tsx:119:12 in compress
at helpers.js:6:25 in CompressVideo

[2022-02-14 03:35] WWbuhtig commented on #94
I have the same issue here.  Tested on iOS + Expo SDK44 and have the same error of "Invariant Violation: Native module cannot be null." and "Invariant Violation: "main" has not been registered."
The error message will appear immediately once "import { Video } from "react-native-compressor";" is sated in the script even compression is not started.

react-native-compressor was installed via expo ins

[2022-02-14 07:15] nomi9995 commented on #93
@alariej can you share URI of video which you get from share extension i wanna see URI scheme and other things?

[2022-02-14 08:38] nomi9995 commented on #94
@DFRZ7 @WWbuhtig duplicate issue https://github.com/Shobbak/react-native-compressor/issues/86

[2022-02-14 12:11] asadraza4522 opened #95 "While compressing the video file in Android returning Empty Value"
While trying to compress the video file in the Android after updating to the new version 1.5.1 before that it is working but in IOS working Fine. Also Not show this Progress console :

import {
  Image as ImageCompress,
  Video as VideoCompress,
  getRealPath,
} from 'react-native-compressor';

let uri = file:///storage/emulated/0/Download/zapya/video/VID-20201103-WA0022.mp4

const videoResult = a

[2022-02-14 15:15] alariej commented on #93
The videos in the Photos library are accessible by the Share Extension with a URI of this type:

`file:///var/mobile/Media/PhotoData/OutgoingTemp/FC268169-1522-47C1-84E6-F71584EA5C69/Compatible/IMG_0985.MOV`

However this URI cannot be forwarded from the Share Extension to the iOS app. Its content must first be copied to a folder ("container") shared between the Share Extension and the app. In Swi

[2022-02-14 17:43] nomi9995 commented on #93
@alariej can you make a GitHub repro of share extension and compressor? I will make a solution for you if you make a GitHub repro.

[2022-02-14 17:45] nomi9995 commented on #95
@asadraza4522 can you put `try-catch` around this code and tell me the actual error so i can investigate.

[2022-02-14 17:46] nomi9995 commented on #91
@timges any update?

[2022-02-14 17:47] asadraza4522 commented on #95
Okay

[2022-02-14 17:49] nomi9995 commented on #76
@jaexplorer any update?

[2022-02-14 17:51] asadraza4522 commented on #95
It is not throughing any error

[2022-02-15 06:35] nomi9995 commented on #95
@asadraza4522 can you see the `Logcat` of android. you will get an exception in `Logcat`. can you post that exception here?

[2022-02-15 08:29] asadraza4522 commented on #95
2022-02-15 10:59:21.998 423-689/com.pokApp I/ReactNativeJS: 'Route Params in the Media Page: ', { path: 'file:///data/user/0/com.pokApp/cache/VisionCamera-20220215_1059033322254063905032255.mp4',
      type: 'video',
      postTypeValue: 'Move' }
2022-02-15 10:59:22.007 423-423/com.pokApp I/ViewRootImpl: jank_removeInvalidNode all the node in jank list is out of time
2022-02-15 10:59:22.062 423-42

[2022-02-15 09:30] nomi9995 commented on #95
@asadraza4522 I have checked on my local, it is working on my side. can you connect with me on LinkedIn https://numan.dev , i wanna see it on zoom in free time

[2022-02-15 14:28] alariej commented on #93
Hmmm, give me a few days. I don't promise but I'll see what I can do.

[2022-02-16 04:14] DFRZ7 commented on #94
@nomi9995 Thank you for that, the link: https://github.com/Shobbak/react-native-compressor/issues/86 was perfect in regards the iOS detail, nonetheless, getting a similiar issue in which if I add the import of the module, I will get:

Invariant Violation: Native module cannot be null.
at node_modules/react-native/Libraries/Core/ExceptionsManager.js:104:6 in reportException
at node_modules/react-na

[2022-02-16 05:29] nomi9995 commented on #94
@DFRZ7 IOS is working on your side? did you follow these steps?
Add the Compressor plugin to your Expo config (`app.json`, `app.config.json` or `app.config.js`):

[code]

Finally, compile the mods:

[code]

To apply the changes, build a new binary with EAS:

[code]
https://github.com/Shobbak/react-native-compressor#managed-expo

[2022-02-16 05:32] nomi9995 commented on #86
@pihomeserver @emmbyiringiro what do you think about this issue?

[2022-02-16 13:59] #95 closed

[2022-02-16 14:52] NiklasLehnfeld opened #96 "Black video after compression"
### Current behavior
After compression video has codecs: AAC, H.263.
Therefore it cannot be played by videoplayer in webapp.
Format is .mp4

### Expected behavior
Video has codecs: AAC, H.264 and can be played in a videoplayer in webapp.

### Platform

- [X] Android
- [ ] iOS

### React Native Version
v.0.66.4

### React Native Compressor Version
v1.5.1

### Reproducible Steps And Demo
Reproducibl

[2022-02-16 18:55] ParthNandaniya opened #97 "backgroundUpload not working in foreground but only works when app is in background"
### Current behavior

When uploading video, it only uploads in background. when i try in foreground, it start uploading then restarts. basically it works in background but not in foreground. any solution to this ?

### Expected behavior
it should start/continue/complete upload in foreground and continue/complete in background

### Platform

- [X] iOS

### React Native Version
0.64.3

### React Nat

[2022-02-17 05:31] nomi9995 commented on #97
@ParthNandaniya is working for foreground on my side.  can you make a minimal repro if it reproduces on my side then I can fix it?

[2022-02-17 05:33] nomi9995 commented on #96
@NiklasLehnfeld I will investigate. but videos are playing for web on my side.

[2022-02-17 08:18] WWbuhtig commented on #94
@pihomeserver @nomi9995
Thanks for the clarification.  It is possible to use the new process via EAS to build the app, but Expo Go app is also needed for testing (where the error occurred).

[2022-02-17 09:40] pihomeserver commented on #94
Ah. Not sure then how to do as for now i use the EAS build workflow even for testing and live development so i don't use Expo Go anymore. I have 2 native plugins embedded to that's the only way i found to develop/test/deploy using them

[2022-02-18 06:24] WWbuhtig commented on #94
@pihomeserver @nomi9995
I see.  Thanks, So the issue is more on the Expo side.

I found the solution to provide fallback as below:
https://docs.expo.dev/bare/using-expo-client/#use-conditional-inline-requires-to-provide-fallbacks
so at least no error would be shown.

[2022-02-18 06:26] nomi9995 commented on #94
@WWbuhtig thank you so much. 🎉

[2022-02-18 06:30] nomi9995 commented on #94
@pihomeserver thank you so much. 🎉

[2022-02-18 18:13] alariej commented on #93
There might be a solution here: https://stackoverflow.com/a/57196411

It seems you need to enable "App Groups" in your Apple developer account, in order to be able to use Share Extensions. (I probably also did that, a few years ago).

[2022-02-18 19:10] nomi9995 commented on #93
@alariej i am using my office' app provioning profiles therefore, i have no access to add share group😔

[2022-02-18 21:16] nomi9995 commented on #93
@alariej I tested on the simulator and it is working well on my side.

[2022-02-20 09:39] alariej commented on #93
@nomi9995 I suspect your test does not reproduce the case where a user makes a video with the phone's camera (it would then be a .mov file, and not a .mp4) and tries to load it into the app via a Share Extension. That's a problem with the simulator: It doesn't seem possible to simulate taking pictures or videos with the camera.

[2022-02-21 11:11] timges commented on #96
@nomi9995 Any updates on this one? We were able to confirm that it's definetly the compression that changes the video codec.

[2022-02-21 11:13] timges commented on #91
@nomi9995 We are still checking with the users, but it seems to be fixed 👍🏼 Thanks for the effort.

[2022-02-21 11:13] #91 closed

[2022-02-21 17:01] alariej commented on #93
Submitted PR https://github.com/Shobbak/react-native-compressor/pull/98

[2022-02-22 05:33] nomi9995 commented on #96
@timges I am too much. busy in office work, maybe I will investigate and add this in 3 to 4 days.

[2022-02-22 07:20] #93 closed

[2022-02-22 11:04] ParthNandaniya commented on #97
@nomi9995 i'm not sure if i will get time to build separate repo, test and recreate it. let's see if anyone else report this issue. currently this featuer is not at highest priority so i can wait

[2022-02-25 20:18] lukeTheWizard opened #99 "Could not find com.github.nomi9995:VideoCompressor:715bcc16e9."
I cant build the app after npm install react-native-compressor@rnlessthan65. I have done a gradelw clean, removed node_modules and reinstalled.

### Current behavior
When running app with npx react-native run-android I get a build error of:
Could not resolve all task dependencies for configuration ':app:debugRuntimeClasspath'.

     Searched in the following locations: .........
### Expected behav

[2022-02-28 05:58] nomi9995 commented on #99
@lukeTheWizard can you add this line into `build.gradle` > `allprojects` > `repositories` and test again.
[code]

[2022-02-28 18:43] lukeTheWizard commented on #99
@nomi9995 that fixes the compilation issues. However Im now getting a runtime error:

error: bundling failed: SyntaxError: /REDACTED/node_modules/react-native-compressor/src/Audio/index.tsx: Unexpected token, expected ")" (62:18)

  60 |         });
  61 |       }

     |                   ^
  63 |       throw error.message;
  64 |     }
  65 |   },

[2022-03-01 05:34] nomi9995 commented on #99
@lukeTheWizard are you trying to compress audio?

[2022-03-01 07:44] lukeTheWizard commented on #99
No just a regular image. The error pops up from just importing. Could this be a node version or something? My project isn't typescript either

[2022-03-05 18:11] DFRZ7 commented on #94
@WWbuhtig Thank you, that detail is without a doubt extremely useful. Nonetheless, my worry at the time, is that the module does load, but getting the following on Android:

[Unhandled promise rejection: TypeError: null is not an object (evaluating 'NativeVideoCompressor.compress')]
at node_modules/react-native-compressor/src/Video/index.tsx:156:48 in compress
at node_modules/react-native-compress

[2022-03-06 13:28] pihomeserver commented on #94
@DFRZ7 I followed a youtube tutoriel and web pages. Test and fail approach ;-)
If i remember the full approach i removed all native plugins and make my app work with EAS pipeline. For info, the local build option that should be faster fails 100% of time so use the pipeline linked to expo.
Once it worked then i added native plugins

[2022-03-07 03:42] yudistiraashadi opened #100 "getRealPath(uri, "image") bug?"
### Current behavior

My current code:
[code]

`getRealPath(uri, "image")` return the original uri, but with added `file://` in front. When I used the uri returned from `getRealPath()` on
[code]
An error shows
![image](https://user-images.githubusercontent.com/18660006/156963488-3d9f2318-7cf3-4c6f-8cd2-5d88bfd57d6d.png)

This is the returned value from `DocumentPicker.pickSIngle()`
![image](https:

[2022-03-07 05:20] nomi9995 commented on #100
@yudistiraAshadi can you tell me your android device and OS modal and can you add a reproducible GitHub example here?

[2022-03-07 05:21] nomi9995 commented on #99
@lukeTheWizard which version of node, you are using?

[2022-03-07 07:15] yudistiraAshadi commented on #100
This is in Android Emulator from Android Studio
![image](https://user-images.githubusercontent.com/18660006/156985156-c15652ce-38c5-4fe4-94a1-6641406dd366.png)

[2022-03-07 07:17] yudistiraAshadi commented on #100
I included the steps and a copy of my code on top. I hope that's enough.

[2022-03-07 08:14] maqboolayaz commented on #96
Hi Numan !!
Do you have any update on this issue? :-)

[2022-03-07 08:37] nomi9995 commented on #96
@maqboolayaz I am too much busy with an office project. hopefully I will try to see it in one or two days.

[2022-03-10 11:17] sandeepkallat commented on #96
@nomi9995 Unfortunately, we have no source video which converts to H.263, so we are also not able to reproduce it. The issue is in customer's phone because we record live and compress - not upload an existing video. So, what we also know is that the resultant video has Dimension: 144 x 176 and codec AAC, H.263.

Happens only in some phone models like Huawei P30 Pro, enovo M10, Samsung A40 etc

[2022-03-18 15:43] Bayramito opened #101 "Not working on iOS with mov files"
### Current behavior

Its not working on IOS with .mov file format at all.

### Platform

- [X] iOS

### React Native Version

react-native: "0.64.2"

### React Native Compressor Version
react-native-compressor: "0.5.17"

[2022-03-19 15:58] DFRZ7 commented on #94
@pihomeserver thank you for that, by any chance do you have any of those references you used so I could possibly validate? And yeah, without a doubt, will continue testing to see how this can become a possibility to use of course, but as you mentioned:

1. Create a standalone app.
2. Work with EAS pipeline.
3. Once this is stable, add the native plugins, in this case the compressor component.

 th

[2022-03-19 16:43] pihomeserver commented on #94
@DFRZ7 Here is the one i used provided here:  https://youtu.be/id0Im72UN6w

[2022-03-19 18:49] DFRZ7 commented on #94
@pihomeserver Thank you so much, will have a look at this and if anything update you with the results here.

[2022-03-23 19:50] haibert commented on #88
Hi @nomi9995

Thank you for this amazing library, specially for the expo support. I cant wait to be able to add data along with the background upload. Would be greatly appreciated.

[2022-03-23 20:09] hkhan6916 commented on #88
Hey @haibert, thought i'd help out as i've found a pretty good solution until @nomi9995 gets a chance to implement something more convenient. Turns out you can trigger external functions following compression. I used react-native-background-upload for ios and android. You can use it like so...
`await VideoCompress.compress(
        file://pathToFile,
        {
          compressionMethod: "auto",

[2022-03-23 20:37] haibert commented on #88
@hkhan6916

Thank you so much for the thought and consideration. Unfortunately it seems like id need to eject expo to use react-native-background-upload which is not an option for us right now.

Expo is amazing, really hope the community fully embraces it as RN progresses

[2022-03-24 03:38] haibert commented on #88
@hkhan6916

Oh I do too! I use a custom build client.

Just to be clear are you saying that you are using eas build with react-native-background-upload ?

Meaning we're you able to get react-native-background-upload working without ejecting? Or you were just speaking in generalities

[2022-03-24 05:33] nomi9995 commented on #88
@hkhan6916 @haibert sorry, I am too much busy with office work these days, I hope I will add formdata at the start of next week. thanks

[2022-03-24 06:07] hkhan6916 commented on #88
@haibert Yes. Just install and run EAS build.

[2022-03-28 16:42] sfedorov-at-wiley opened #102 "Crash on ios"
### Current behavior
Application crashes without any logs when calling Video.compress
getVideoMetaData runs fine

### Expected behavior
It does not

### Platform

- [   ] Android
- [X] iOS - Simulator without any additional config

### React Native Version
0.67.1

### React Native Compressor Version
1.5.2

### Reproducible Steps And Demo
Just installed package, tried to run it with simplest config

[2022-03-28 20:51] iMatheusouza commented on #82
Hey, theres a way to get image compressed metadata, like the getVideoMetaData feature, extra infos like `width`, `height`, `size`?

[2022-03-30 10:41] Liqiankun commented on #46
Any update? I got the same issue.
[code]

[2022-03-30 10:46] Liqiankun commented on #46
I know how to fix it. Just remove the `VideoCompressor.swift` file. `pod install` again.

[2022-03-30 11:57] Liqiankun opened #103 "The following Swift pods cannot yet be integrated as static libraries"
### Current behavior
`The following Swift pods cannot yet be integrated as static libraries` error when `pod install`
<img width="812" alt="截屏2022-03-30 19 55 29" src="https://user-images.githubusercontent.com/11532418/160828905-27b7bc7b-4238-466e-bc1b-1efb0dc33657.png">
### Platform
- [X] iOS

### React Native Version
`"react-native": "0.62.2",`

### React Native Compressor Version
`"react-native

[2022-03-30 12:02] Liqiankun commented on #46
@nomi9995 @alariej Please check #103. It has a reproducible example.

[2022-03-30 12:26] sfedorov-at-wiley commented on #102
Found crashlog
[code]

[2022-03-30 15:07] sfedorov-at-wiley commented on #102
Found out that the reason for crash was because url was not containing 'file://' scheme
Please handle this crash with try/catch properly

[2022-03-30 22:47] siddharth-kt opened #104 "Are there any plans to add support for video trimming?"

[2022-03-31 04:42] akashraj9828 opened #105 "Image dimension getting shrinked (No control over it)"
### Current behavior
After compression image's dimensions get shrinked
Eg. I have an image with dimensions `4640x3472`

after using the following compression code
[code]

the output is an image of dimension `1250x936`  even though i specified maxWidth and maxHeight to 10,000

### Expected behavior
I want an output image of dimension `4640x3472` with `0.5 quality`

### Platform

- [X] Android
- [ ]

[2022-03-31 05:43] akashraj9828 commented on #105
Never mind... Reading image dimensions programmatically is giving the wrong value... MaxWidth and MaxHeight is working as expected.

[code]

This function is giving me wrong width/height not sure why

[2022-03-31 05:43] #105 closed

[2022-04-07 09:18] Liqiankun commented on #103
[code]
Fix this issue

[2022-04-07 11:18] Liqiankun commented on #46
Fixed #103. Check it out!

[2022-04-07 20:10] haibert commented on #88
@nomi9995 no worries my man. we really appriciate it. cant wait for the feature!

[2022-04-07 23:40] haibert commented on #88
@hkhan6916 sorry to bug you again but the documentation for react-native-background-upload is not very thorough. how were you able to send the body ? It also doesn't have a body param. It looks like it has a "parameters" option but doesnt really say how to use it. do you turn your data into json and put it inside the parameters ? id love to see your code for the usage

[2022-04-08 14:44] venomkage opened #106 "nil argument thrown while invoking compress"
### Current behavior
Exception "*** -[_NSCFString
stringByAppendingPathExtension:]: nil
argument' was thrown while invoking
compress on target VideoCompressor with
params (
"ph://AF6F1043-36DD-4E7E-
B9E6-78E96ECC344C/LO/001"
{
compressionMethod = auto;
maxSize = 640;
uuid="f920c5a6-2e4b-4860-
b44a-2fa132868ed7":
1061384,
106138
)

### Expected behavior
Should give compressed uri

### Platform
MAC

[2022-04-09 23:37] hkhan6916 commented on #88
Hey @haibert  sorry for the late response. In case you still need help, my code looks like:     `const options = {
      url: "someurl",
      path: somePathToFile,
      method: "POST",
      type: "multipart",
      maxRetries: 2,
      headers: {
        "content-type": "multipart/form-data", // IMPORTANT
        Authorization: `Bearer ${token}`,
      },
      parameters: {
        postId: pos

[2022-04-11 00:08] haibert commented on #88
@hkhan6916 no worries thank you so much!  I gotta talk to the backend guys to make sure they make changes since the request is not going to be a JSON anymore. And i'm curious do you know what format the backend will receive the actual file in ? meaning is this going to send the base64 of the file to the server or... ?

[2022-04-11 12:58] savataqe1 commented on #90
`{"error": [TypeError: Cannot read property 'compress' of null]} ` compression error .. I downloaded it manually and downloaded it normally, but I'm getting the same error

[2022-04-12 22:58] haibert opened #107 "How to compress video manually"
### Current behavior
Does anyone have any code example of a manual compression of a video? I cant figure out what to put for the bitrate for videos from the documentation and it makes the app crash.

### Expected behavior
I just wish the documentation showed a better example of the manual video compression, its just showing an empty object as the compression options.

### Platform
- [] Android
- [

[2022-04-13 08:37] Liqiankun commented on #103
If added this, will cause other issue. Someone can help?

[2022-04-15 15:41] pierroo commented on #101
@Bayramito did you find any solution to this?
it is quite sad indeed :/

[2022-04-16 13:40] pierroo commented on #107
Did you find any answer?
For example the bitrate, it says "number" and that's it, but no idea what it should be.
I tried lots of different values, yet it looks like video isn't compressed at all, same file size at the end regardless of the parameters I chose. :/

[2022-04-16 14:00] pierroo opened #108 "Compression video manual: not doing anything"
### Current behavior
When I compress video in 'auto', it does work pretty well.
HOWEVER, since the 'auto' only gets triggered with file >16Mb, I had to go the 'manual' way.
But unfortunately, WHATEVER parameters I put, I see the compress being triggered and the progress value moving up to 100%; BUT the resulting file is literally the SAME size as the original one.
I really don't understand why?
##

[2022-04-16 15:20] haibert commented on #107
@pierroo nope, yea I tried a lot of different combinations as well, the app either crashes or no compression happens at all. Glad to see other people are having this issue too, I was starting to feel super dumb lol.

I would love to just put compression to auto and move on, less work for me but it compresses it too much

[2022-04-16 18:03] pierroo opened #109 "Size bigger on iOS AFTER compressing"
### Current behavior
Instead of reducing final file size, on iOS it seems that the image compressor 'auto' increase the image size.
Which is exactly what we don't want.
Installation went well, so I'm really confused. Works well on android (for images at least)
Images go from 200kb to 350kb (taken from gallery / imagePicker)
### Expected behavior

### Platform

- [X] iOS

### React Native Version
0

[2022-04-17 20:15] DFRZ7 commented on #94
Hey team, just wanted to update you all, but confirmed that on EAS is completely working for Android. I'm still working to get my build and test up with iOS, but will update this thread so we can close all out. Thank you again for everything!

[2022-04-19 10:42] ya-ushel commented on #109
Have same issue

[2022-04-28 12:11] kmandalas opened #110 "Invariant Violation: "main" has not been registered."
### Current behavior

When loading an app via **Expo Go**, the following error occurs:

[code]

This happens when adding the library to a previously working application.

### Expected behavior
The following code was added to the app:

[code]

The app should load normally and reach the point of execution.

### Platform

- [X] Android
- [X] iOS

### React Native Version
0.64.3

### React Native Comp

[2022-04-28 20:35] valn1 opened #111 "Error[TypeError: VideoCompressEventEmitter.removeSubscription is not a function. (In 'VideoCompressEventEmitter.removeSubscription(subscription)', 'VideoCompressEventEmitter.removeSubscription' is undefined)]"
### Current behavior
throws error on 99% and does not finish the compression when there is the 'onProgress' option
### Expected behavior
 finish the compression and get to 100%
### Platform

- [X] Android
- [] iOS(not tested yet)

### React Native Version
0.65.1

### React Native Compressor Version
0.5.17
### Reproducible Steps And Demo
...

[2022-05-02 14:31] valn1 commented on #111
Hello, for what i know, this problem can be solved simply by changing

`VideoCompressEventEmitter.removeSubscription(subscription);`

by

`subscription.remove()`

as the method removeSubscription has been removed in
https://github.com/facebook/react-native/commit/d39643b9de11c6b44984166ede34a7f44de76fe5#diff-9f250e6d8a5ec553d894b660a762e5975e048fcb822ece9d1af7a72d93b3cb71

[2022-05-05 18:53] stefanleoussis commented on #101
@Bayramito Yes indeed

[2022-05-05 18:59] Bayramito commented on #101
I used a converter in a promisr and used mp4.

but it might work on the newest version i think.

[2022-05-11 23:56] hkhan6916 commented on #97
@nomi9995 have the same issue. Any update on this? When compressing, it fails as soon as the app is foregrounded on IOS. This is fine in android.

[2022-05-16 21:14] wwessel01 opened #112 "[Error: width and height must be > 0] On image compression"
### Current behavior

When trying to compress an image from URI or base64 an error is thrown.
`[Error: width and height must be > 0]`

### Expected behavior

To be able to compress an image using base64 and throw a more elaborate error.

### Platform

- [X] Android
- [ ] iOS (Not tested)

### Code

This will throw the error
[code]

And this is where the compression is handled
[code]

[2022-05-19 12:36] saif-o99 commented on #112
same issue here

[2022-05-22 05:25] kristijantomic commented on #112
On Anroid same error width and height must be > 0, while on iOS promise never resolve, I Tried example code with auto compression.

[code]

[2022-05-26 13:40] malikhamza0546 opened #113 "My App is crashing Although I am getting the compressed URI"
![error](https://user-images.githubusercontent.com/49604960/170499171-736d6443-43e7-4642-a9fc-317b0f08961f.jpeg)
async renderFileUriForVideo() {
    if (this.state.fileUriForVideo) {
      const result = await Video.compress(
        this.state.fileUriForVideo,
        {
          compressionMethod: 'auto',
        },
        progress => {
          if (backgroundMode) {
            console.log('C

[2022-06-09 13:09] luizaugustoventura opened #114 "Images taken from camera being rotated 90 degrees counter-clockwise"
### Current behavior
Whenever I compress an image taken straight from the camera (in portrait mode) the image gets rotated 90 degrees counter-clockwise after compressed. This happens on the physical device (in my case, a Samsung Galaxy S10 Lite), but not on the Android Emulator.

I am using [react-native-image-picker](https://github.com/react-native-image-picker/react-native-image-picker) (version

[2022-06-10 13:26] brianso123 commented on #112
found a work around by removing `compressionMethod: 'auto'`

[2022-06-12 20:56] Nekuin commented on #114
Check out the issues on [react-native-image-picker](https://github.com/react-native-image-picker/react-native-image-picker/issues?q=is%3Aissue+is%3Aclosed+rotate) regarding rotation stuff, I have a feeling this library doesn't do anything to the rotation. I've had struggles with this exact same issue, and _it doesn't help that the image gallery shows the picture in the "correct rotation" while it'

[2022-06-13 15:29] JosMMV commented on #112
I had this issue working with URI returned by react-native-document-picker, I solved it by using react-native-fs copying the file into a temporary path, like this:

[code]

[2022-06-15 23:54] luizaugustoventura commented on #114
Well, you know what's even more curious? I went to the Microsoft Teams website and tried to update my profile picture with a photo I've sent from my Samsung phone via Bluetooth. And guess what...... the photo got rotated there as well. Now I'm really starting to think it's something related to the picture's metadata or something of this nature.

How do you look into the EXIF data of the image? I d

[2022-06-16 06:34] Nekuin commented on #114
Looking at the [react-native-image-picker options](https://github.com/react-native-image-picker/react-native-image-picker#options) you can get the exif data with the image you take with the camera or select from image library by setting `includeExtra` as `true`.
Copy pasting a bit of your code here as an example:
`const result = await launchCamera({
        mediaType: 'photo',
        saveToPhotos

[2022-06-19 09:08] thareekanvar commented on #100
@yudistiraAshadi

This is the reasoni think.. u should give permission.

[code]

[2022-06-28 07:29] Fudci commented on #41
i just try on example, image compression work fine, but video error always null,
i try using React Native
  "react-native": "0.68.2",

<img width="964" alt="Screen Shot 2022-06-28 at 14 26 24" src="https://user-images.githubusercontent.com/92655138/176119375-05094950-3376-4670-9cb1-5c6c428c56ef.png">

[2022-06-28 19:23] Fudci opened #115 "On IOS is work fine, but Android always error null"
LOG  {"error": [Error: null]} compression error

This is my code :

const dstUrl = await Video.compress(
        sourceVideo,
        {
          compressionMethod: 'auto',
          // minimumFileSizeForCompress: 5,
          // maxSize: 1000,
          minimumFileSizeForCompress:1
        },
        (progress) => {
          if (backgroundMode) {
            console.log('Compression Progress: ',

[2022-06-29 05:25] Liqiankun commented on #115
@Fudci same issue.

[2022-06-30 00:19] Liqiankun commented on #115
@nomi9995

[2022-07-02 22:51] ahmad0303 commented on #31
@nomi9995 Hello, When I use minimumFileSizeForCompress in video it changes the file format and didn't upload with the error TypeError: Network request failed
"react-native-compressor": "^0.5.17",
"react-native": "0.64.2",
It perfectly works on images but didn't work on video

[2022-07-03 09:32] ahmad0303 opened #116 "Didn't work on video"
react-native compressor didn't give any error or warning while uploading but it also didn't compress video.
when I use this 'minimumFileSizeForCompress' to compress the small size of videos it also does not work and change the file format and video is not uploaded by this

"react-native-compressor": "^0.5.17",
I also tried different versions but the app crashed without any error
"react-native": "0

[2022-07-06 13:03] mlecoq opened #117 "Android build issue with RN 0.69"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-compressor@1.5.2` for the project I'm working on.

I have upgraded my app from RN 0.68 to 0.69 and I have encountered the following issue while building an app bundle

[code]

Here is the diff that solved my problem:

[code]

<em>This issue body was [

[2022-07-08 06:14] nomi9995 commented on #117
@mlecoq thanks, I am okay with these changes, you can make PR.
thanks

[2022-07-12 07:52] remorr25 opened #118 "While upload video the request data is empty on server."
### Current behavior
Video compressing fine but when I try to upload on server, request  data is empty but in response I am getting {status:200}

### Expected behavior
File should be upload on server.

### Platform

- [] Android

### React Native Version
0.69.1

### React Native Compressor Version
1.5.2

### Reproducible Steps And Demo
Setup up the environment with react-native 0.69.1 and build th

[2022-07-13 23:27] laffan commented on #110
I'm also getting this error.

[2022-07-17 16:25] jpike88 commented on #102
@nomi9995 is this library still being maintained?

[2022-07-17 19:40] Liptor commented on #116
in my case compressor also doesn't compress a video on android devices

[2022-07-18 11:03] #117 closed

[2022-07-20 21:18] ahmad0303 commented on #116
Here is the solution:
import { Image as compressImg, Video as compressVideo } from 'react-native-compressor';

const compress_Video = await compressVideo.compress(
                this.state.userPost,
                {
                    compressionMethod: "auto",
                    minimumFileSizeForCompress: 3,
                    // bitrate:5
                },
                // (progress) =

[2022-07-20 21:27] ahmad0303 commented on #116
Here is the solution:

import { Video as compressVideo } from 'react-native-compressor';

const compress_Video = await compressVideo.compress(
                this.state.Post,
                {
                    compressionMethod: "auto",
                    minimumFileSizeForCompress: 3,
                },
            )
                .catch((e) => {
                    console.log(e)

[2022-07-20 21:27] ahmad0303 commented on #116
Here is the solution:

import { Video as compressVideo } from 'react-native-compressor';

const compress_Video = await compressVideo.compress(
                this.state.Post,
                {
                    compressionMethod: "auto",
                    minimumFileSizeForCompress: 3,
                },
            )
                .catch((e) => {
                    console.log(e)

[2022-07-26 23:39] SABRYX opened #121 "Build fails with react-native: 0.66.1 min-sdk 16 issue"
### Current behavior

[androidx.vectordrawable:vectordrawable-animated:1.0.0] gradle/caches/transforms-3/e8993eee9d2f3584d876c5e91e68dd57/transformed/vectordrawable-animated-1.0.0/AndroidManifest.xml Warning:
        Package name 'androidx.vectordrawable' used in: androidx.vectordrawable:vectordrawable-animated:1.0.0, androidx.vectordrawable:vectordrawable:1.0.1.
node_modules/react-native-compress

[2022-07-29 08:27] jpike88 commented on #117
@nomi9995 please release a new version thanks

[2022-08-04 20:01] hmShuvo314 commented on #118
Hi any update on this? I am also having similar issue.

[2022-08-05 09:25] anhnch commented on #112
For me the error occurs if I compress base64 string on Android

[2022-08-10 17:32] sadeghhosseini commented on #114
I believe the problem is with metadata of the image being deleted during the compression, I had the same problem with [sharp](https://github.com/lovell/sharp) library which got resolved using `withMetadata()` method, which reserved the metadata of the image. Does this library have a similar option for reserving metadata?

[2022-08-18 05:53] mani627 commented on #115
I have Also same issue ..

[2022-08-18 07:06] Raghavmunjal commented on #100
I have the same error, any updates ?

[2022-08-18 08:12] mani627 commented on #115
Please reply ASAP....

................................................................................................................
 try {
            let result = await Video.compress(
             response.assets["0"].uri  ,
              { compressionMethod: 'auto',

            },
              (progress) => {
                if (backgroundMode) {
                  console.log('Compression

[2022-08-19 07:33] uniquejava commented on #114
+1,  rotation happens on my colleague's Xiaomi K40S but not on my K50.

[2022-09-07 09:07] puckj commented on #114
I'm still facing the same issue. (tested on iPhone 6)

[2022-09-08 19:33] Marcuspo commented on #114
+1

[2022-09-12 11:49] ijhar8 commented on #95
@nomi9995  how did you fixed it ?

[2022-09-14 00:35] SMKH-PRO opened #122 "Build Fails on React Native 0.69.3 > Task :react-native-compressor:verifyReleaseResources FAILED"
### Current behavior

when I try to create release build, I get following error:

### Expected behavior

### Platform

- [X] Android
- [] iOS

### React Native Version
0.69.3
### React Native Compressor Version
1.5.2
### Reproducible Steps And Demo
cd android
./gradlew assembleRelease

[2022-09-14 15:14] xchwarze commented on #122
I think this is fixed in
https://github.com/Shobbak/react-native-compressor/commit/1a53d39bb6f4687332c329811443a6c0568fd256

try install the package from this branch
`yarn add https://github.com/Shobbak/react-native-compressor#cc04c945df1609c3d5773be08aaf975a9ef93b8b`

[2022-09-15 11:27] marekStef commented on #110
The same error as well,

[2022-09-20 13:52] Bayramito opened #123 "error: resource android:attr/lStar not found."
### Current behavior
1: Task failed with an exception.
-----------
* What went wrong:
Execution failed for task ':react-native-compressor:verifyReleaseResources'.

     ERROR:/Users/bm3/Desktop/srs/mzapp/node_modules/react-native-compressor/android/build/intermediates/merged_res/release/values/values.xml:2723: AAPT: error: resource android:attr/lStar not found.

* Try:

===========================

[2022-09-27 09:23] rahuljeevan-experion opened #124 "iOS not running"
### Current behavior

Getting this error while trying to run the iOS app.

`SwiftEmitModule normal x86_64 Emitting\ module\ for\ react_native_compressor (in target 'react-native-compressor' from project 'Pods')`

### Expected behavior

### Platform

- [ ] Android
- [X] iOS

### React Native Version
- 0.69.3

### React Native Compressor Version
- 1.5.2

### Reproducible Steps And Demo

`yarn add re

[2022-09-28 21:55] jdembi commented on #110
I'm also getting this error.

[2022-09-29 06:05] imadarif opened #125 "to slow to compress video"
### Current behavior
working fine but take to much time to compress the video file.

### Expected behavior
fast

### Platform
Android

### React Native Version
0.68

### React Native Compressor Version
latest.

### Reproducible Steps And Demo

[2022-09-29 10:00] chetanacquaintsoft opened #126 "semicolon missing on android"
https://github.com/Shobbak/react-native-compressor/blob/501b655219521018e6b6898de2eb414e7d1898e8/android/src/main/java/com/reactnativecompressor/CompressorModule.java#L140

[2022-09-29 12:58] #126 closed

[2022-10-04 03:43] RMuhamar commented on #124
i got same error, any solution ?

[2022-10-11 12:38] deflexable opened #128 "getRealPath never resolve on ios"
[code]

getRealPath function neither convert "content://" nor "ph://" to "file://" on both ios and android

[2022-10-11 12:44] deflexable commented on #128
discovered, i was calling the method in a wrong was.
i changed this:
[code]

to this:

[code]

and it works fine

[2022-10-11 12:44] #128 closed

[2022-10-11 12:57] deflexable commented on #102
@sfedorov-at-wiley looking at your code getRealPath method is asynchronous, that should need an await keyword

[2022-10-11 16:11] deflexable commented on #102
@sfedorov-at-wiley obviously the red squiggle won't show because the getRealPath wasn't declared correctly in the declaration file. The runtime of getRealPath returns a promise while the declaration file returns a "any".

so this should fix the problem:

[code]
<img width="1015" alt="Screenshot 2022-10-11 at 5 07 59 PM" src="https://user-images.githubusercontent.com/57331729/195144215-11fe8195-fc9

[2022-10-11 16:31] sfedorov-at-wiley commented on #102
@deflexable Well, it was long time ago, but I sure that I were trying this without getRealPath and crash were happening as well. I even used debugger to check if url was passed into ios code and url was a string.
But library should not hard-crash whole application if I shove a promise into it either. Just throw an exception.

So this Issue is a request for developers to fix the crash.
And, as you

[2022-10-13 11:57] vvusts opened #129 "Object.promiseMethodWrapper [as getVideoMetaData]"
### Current behavior
getVideoMetaData doesn;t work on android.

[code]

### Expected behavior
To get metadata on android same as on IOS.
### Platform

- [X] Android
- [] iOS

### React Native Version
0.64.3
### React Native Compressor Version
1.6.1
### Reproducible Steps And Demo
[code]

[2022-10-14 15:05] closetothe opened #130 "maxSize isn't implemented for manual compression (iOS)"
### Current behavior
The `maxSize` is always 1920 when the compressionMode is `manual`. See `manualCompressionHelper` inside `VideoCompressor.swift` – it's hardcoded to 1920
### Expected behavior
`maxSize` is set from the given options and 1920 is used as a fallback.
### Platform

- [?] Android (dont know)
- [X] iOS

### React Native Version
0.68.2
### React Native Compressor Version
1.6.1
### Rep

[2022-10-19 09:31] DarWiM opened #132 "RN 0.65.0 require some new listener methods on the Native Module when call the NativeEventEmitter. It shows the "new NativeEventEmmiter()..." warning."
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-compressor@1.6.1` for the project I'm working on.

A lot of libraries, including this one is showing a warning with the message: "new NativeEventEmitter() was called with a non-null argument without the required addListener/removeListeners method." Li

[2022-10-26 11:01] hkhan6916 opened #133 "Video conversion"
Hey, @numandev1  i have noticed this package converts videos from .mov to .mp4 and it's also pretty fast at doing this as well as making the video playable on the web which is also a challenge.

Is it possible to move this into its own method? There's really a need for this in react native as uploading videos from IOS which are mostly in the format of MOV are not playable on the web. Other package

[2022-10-30 17:31] sagar17-create commented on #132
any fix ?

[2022-11-02 08:11] #130 closed

[2022-11-04 21:04] hb-webdev commented on #114
Looking forward to fixing rotating images on Android (presumably caused by deleted metadata)

[2022-11-14 07:29] ValentineCodes commented on #96
Getting the same issue on my Tecno Pouvoir 4 pro. Black screen after compressing video. Audio not working as well

[2022-11-23 23:41] Colt-ain opened #135 "Failed build on android"
Hello to all.
Build fail when add react-native-compressor package in project build failed on android only. On iOS works well.

### REACT NATIVE VERSION - 0.67.5

## File build.gradle
[code]

## BUILD OUTPUT
[code]

## Packge.json
[code]

[2022-11-24 05:38] numandev1 commented on #135
`maven { url 'https://jitpack.io' }` add this in `repositories {`
like this
[code]

[2022-11-25 10:06] Colt-ain commented on #135
Holy Moly, that works! Thank you @numandev1 🙏🙌

[2022-11-25 10:15] #135 closed

[2022-11-26 10:00] nikonhub commented on #108
There are 3 issues on android which prevent the video compression.

1 : The bitrate variable is not passed down to native module (no bitrate switch case) => [here](https://github.com/Shobbak/react-native-compressor/blob/2fb2629eac8024dbc11d9dd75784c9c2520a15b0/android/src/main/java/com/reactnativecompressor/Video/VideoCompressorHelper.java#L112)

Fix

[code]

2 : MaxSize is just not used as parame

[2022-11-26 10:03] pierroo commented on #108
That's awesome, thank you for your investigation @nikonhub !
I such with Github unfortunately; contributors @numandev1 any way you could merge the change above?
That would be great!

[2022-11-27 08:48] Milker90 opened #136 "destination path is error"
### Current behavior
destinationPath is "file:/"+destinationPath，sometime android will cause "No such file or directory"

eg:
[code]
will throw "TypeError: Network request failed"

### Expected behavior
destinationPath is "file://"+destinationPath

### Platform

- [X] Android
- [ ] iOS

### React Native Version
"react-native": "0.70.6"

### React Native Compressor Version
"react-native-compressor"

[2022-11-28 01:18] hrastnik opened #137 "[Android] Returned path should start with `file:///data...` instead of `file://...`"
### Current behavior
Returned path starts with `file://data` making the URI invalid

### Expected behavior
Return path should start with `file:///data...`.

This fixes the issue:
[code]

or shorter
[code]

### Platform

- [X] Android

### React Native Version
0.70.6

### React Native Compressor Version
1.6.1

[2022-11-29 13:17] arsyrangga opened #138 "SyntaxError unexpected token expected"
![IMG-20221129-WA0031](https://user-images.githubusercontent.com/72026482/204538865-d449e3e5-c69c-473e-99c8-5a902fb89acd.jpg)

Help me